@import "compass";
@import "../../theme_variables";
.contact-link {
	float:left;
	color:#888888;
	@media (max-width:$screen-sm-max){
		float:none;
		display:inline-block;
		width:100%;
		margin-top:15px;
	} 
	.shop-phone {
		position:relative;
		line-height: 15px;
		text-shadow: none;
		font-size: 12px;
		display:inline-block;
		font-weight: 400;
		padding:0 15px;
		border-left:$main_border;
		border-right:$main_border;
		i {
			font-size: 16px;
			line-height: 30px;
			color: #7b7b7b;
			padding-right: 7px;
			vertical-align: -2px;
		}
		strong {
			font-weight: 400;
			color:#282828;
		}
		&.is_logged {
			@media (max-width: $screen-sm-max) {
				
			}
		}
	}
	.shop-email {
		position:relative;
		line-height: 15px;
		text-shadow: none;
		font-size: 12px;
		display:inline-block;
		font-weight: 400;
		padding:0 15px;
		a {
			color:#282828;
			&:hover {
				text-decoration:underline;
				color:$hover-color;
			}	
		}
		
		i {
			font-size: 16px;
			line-height: 30px;
			padding-right: 7px;
			vertical-align: -2px;
		}
	}
	.poswelcome {
		display:inline-block;
		.welcome-msg {
			margin:0;
			line-height:15px;
			color:#282828;
			padding:0 15px;
			span {
				color:$hover-color;
			}
		}
	}
}
#contact-link {
	float: right;
	border-left: 1px solid #515151;
	@media (max-width: $screen-xs - 1) {
		text-align: center;
	}
	a {
		display: block;
		color: $light-text-color;
		font-weight: bold;
		padding: 8px 10px 11px 10px;
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		cursor: pointer;
		line-height:18px;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
			padding-left: 5px;
			padding-right: 5px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
	&.is_logged {
		@media (max-width: $screen-xs-max) {
			display: none;
		}
	}
}
#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px;
			padding-right: 10px;
		}
	}
}
