@import "compass";
@import "../../../theme_variables";

$title-height: 50px;
$col-width: 180px;

.navleft-container{
	position: relative;
	z-index:9;
	.pt_vmegamenu_title{
		position: relative;
		overflow: hidden;
		cursor: pointer;
		background:$hover-color;
		padding:10px 25px;
		@media (max-width:$screen-md-max) {	
			padding:10px;
		}
		h2{
			margin: 0;
			color:$light-text-color;
			line-height:45px;
			padding: 0;
			text-transform:uppercase;
			font:{
				size: 14px;
				weight: 700;
			}
			&:after {
				content: "\f0c9";
				margin-right:15px;
				vertical-align:-2px;
				width:45px;
				height:45px;
				line-height:43px;
				text-align:center;
				border-radius:100%;
				border:2px solid rgba(255,255,255,0.5);
				float:left;
				font-family:$font-icon;
				font-weight:normal;
			}
			i { display:none;}
		}
	}
	.pt_vmegamenu{
		display:block;
		width: 100%;
		background: #fff;
		position:absolute;
		left:0;
		top:65px;
		.pt_menu {
			position: relative;
			&:hover .wrap-popup{
				left:100%;
				opacity:1;
				@include pos-transition(300ms);
			}
			&:not(.noSub):after{
				display: block;
				position: absolute;
				top: 0;
				right: 25px;
				line-height:$title-height;
				color:#adadad;
				content: "\f105";
				font:{
					size: 14px;
					weight: 500;
					family: $font-icon;
				}
				@media (max-width:$screen-md-max) {	
					right: 15px;
					line-height:40px;
				}
			}
			&.active .parentMenu a,&:hover:not(.noSub):after{
			
				
			}
			&.active .parentMenu a{
				@include pos-transition(300ms);
			}
			&:last-child .parentMenu a {
				border-bottom:0;
			}
		
			.parentMenu a{
				position:relative;
				display: block;
				overflow: hidden;
				line-height:30px;
				text-transform: capitalize;
				word-wrap: break-word;
				background:#000000;
				color:#adadad;
				padding:10px 30px;
				border-bottom:1px solid #2b2a2a;
				font:{
					size: 14px;
					weight:400;

				}
				@media (max-width:$screen-md-max) {	
					padding:5px 10px;
					font-size:12px;
				}
				&:hover {
					color:$hover-color;
					@include pos-transition(300ms);
					
				}
				.cate-thumb{
					float: left;
					width: 20px;
					margin-right: 10px;
		
				}
				span:not(.cate-thumb){
					
				}
			}
			&.act, &.active{
				&:after{
					color:$hover-color;
				}
				.parentMenu a{
					color:$hover-color;
				}
			}
			.wrap-popup{
				position: absolute;
				top: 0;
				left: 115%;
				z-index:1;
				opacity:0;
				width: $col-width * 4 + 60px;
				.popup{
					display: none;
					position: absolute;
					top: 0 !important;
					left: 0 !important;
					width: auto !important;
					-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
					box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
					.box-popup{
						background: #fff;
						padding:30px 30px 30px 30px;
						float: left;
						overflow: hidden;
						.column{
							width: $col-width;
							padding-right: 20px;
							margin-bottom: -99999px;
							padding-bottom: 99999px;
							.itemMenuName{
							    font-family: Poppins;
								color:#232323;
								text-transform: uppercase;
								word-wrap: break-word;
								display:block;
								line-height:35px;
								position:relative;
								font:{
									size: 12px;
									weight:700;
								}
								&:hover{
									color:$hover-color;
								}
							
							}
							.itemSubMenu{
								padding: 10px 0 20px;
								.itemMenuName{
								    color: #6f6f6f;
									text-transform: capitalize;
									display:block;
									font-family: Arial;
									font:{
									
										size: 14px;
										weight: 400;
									}
									
									&:hover{
										color:$hover-color;
										&:before{
											color:$hover-color;
										}
									}
									&:after{
										display:none;
									}								
									
								}
							}
						}
						.column.last { 
							padding-right:0;
						}
					}
				}
			}
		}
		.view_more {
			display: block;
			overflow: hidden;
			line-height: 40px;
			padding:10px 30px;
			text-transform: capitalize;
			word-wrap: break-word;
			background:#000000;
			@media (max-width:$screen-md-max) {	
				font-size:12px;
				padding:10px;
				line-height:33px;
			}
			color:#adadad;
			font-size: 14px;
			font-weight: 400;
			cursor:pointer;
			&:hover {
				color:$hover-color;
				@include pos-transition(300ms);
			}
			&:before{ 
				content:"...";
				width:20px;
				vertical-align:4px;
				text-align:center;
				font-size:20px;
				margin-right:10px;
				height:10px;
				line-height:10px;
			}
			i {
				width:15px;
				text-align:center;
				margin-right:6px;
				display:none;
			}
			
			
		}
		
	}
}
.sub-page .navleft-container .pt_vmegamenu {
	display:none;
}