@import "compass";
@import "../../theme_variables";
.pos-bestsellers {
	.pos-content {
		border:$main_border;
	}
	.pos-title {
		h2{
		@media  (min-width:$screen-sm) and (max-width:$screen-sm-max) {
			padding-left: 75px;
			font-size: 11px;
		}
			&:after {
				background: url(../../../img/icon_title_topseller.png) no-repeat 0 0;
			}
		}
	}
	.item-product {
		border:0;
		padding:19px 10px;
		display:inline-block;
		width:100%;
		margin:0;
		&:before {
			border:0;
			border-bottom:$main_border;
			left:15px;
			right:15px;
		}
		&:last-child {
			&:before {
				border:0;
			}
		}
		.products-inner {
			float:left;
			width:87px;
			margin-right:10px;
		}
		.product-contents {
			background:transparent;
			overflow:hidden;
			display:block;
			width:auto;
			position:relative;
			text-align:left;
			padding: 0 ;
			@media  (min-width:$screen-sm) and (max-width:$screen-sm-max) {
				display:inline-block;
				width:100%;
				overflow:visible;
			}
		}
	}
	@media(max-width:$screen-md-max) {
		.owl-buttons > div {
			display:none;
		}
	}
}