/*#account-creation_form .id_state,#account-creation_form .dni,#account-creation_form .postcode{display:none}#create-account_form{min-height:297px}#create-account_form p{margin-bottom:8px}#create-account_form .form-group{margin:0 0 20px 0}#login_form{min-height:297px}#login_form .form-group{margin:0 0 3px 0}#login_form .form-group.lost_password{margin:14px 0 15px 0}#login_form .form-group.lost_password a{text-decoration:underline}#login_form .form-group.lost_password a:hover{text-decoration:none}#login_form .form-control,#create-account_form .form-control{max-width:271px}*/

body { font-family: 'Vinci Sans Regular', sans-serif}
.container { max-width:1230px; width:100%; margin:0 auto;}
header { background:#000;  padding:20px 0 0; color:#fff !important}
header .row #header_logo a { outline:medium none; top:20px;}
#header_logo { max-width:180px; float:left;}
header .container { position:relative;}
/*.header_user_info { float:left; }
header .nav { float: right;padding-right: 0; position:absolute; right:0; top: -20px;
    white-space: nowrap;}*/
.phone-detail strong { color:#d1d1d1; font-size:14px; font-weight:bold;}
.phone-detail { position:relative; padding-left:30px; }
.phone-detail:before { position:absolute; content:""; background:url(../img/phone.png) no-repeat; width:20px; height:20px; left:0;}
.drop-down { display:inline-block; background:#242425; max-width:60px; width:100%; border-radius:4px;  text-align:center;}
.drop-down .dropdown-toggle { color:#acacac; font-size:12px; text-decoration:none; display:block; padding-top:3px;  height:25px;} 
.dropdown-menu { max-width:100%; min-width: 0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background-color:transparent; border-color:transparent;} 

.ajax_cart_quantity { position:absolute; background:url(../img/sky-text.png) no-repeat; width:30px; height:30px; display:inline-block; font-size:12px; color:#fff; text-align:center;  right:0; }
 .quantity {  background:url(../img/cart-baskat.png)  no-repeat; width:55px; height:36px; position:relative; float:left; margin-left: 20px;}
 .rates { float:left !important; max-width:80px; width:100%; margin-left: 8px; } 
  .rates  span { display:block; font-size:14px; color:#dedede;}
  .bottom-head { padding-top:11px; }
 .navbar-nav a { padding:0 25px 0 0px !important; font-size:13px; color:#aeaeae; background-color:transparent}
  .navbar-nav li:last-child a { padding:0 !important;}
 .navbar-inverse { min-height:0; background-color:transparent;margin-bottom:0; }
 .navbar-nav li.active a   { font-weight:bold !important; color:#fff !important; background-color:transparent !important;}
 .navbar-nav a:hover { color:#fff !important;} 
/**/
.crt-right { }
.navbar-collapse { padding:10px 0 0 ; }
.navbar { min-height:0; background-color:transparent; border:0px;}
#header .shopping_cart { }
#header .shopping_cart {position: relative; margin-top:8px; float: right;  }
.phone-detail { display:inline-block; margin-left: 10px; float:left; padding-top: 2px;}
.login-detail { padding:0; margin:0; max-width:auto; float:left; }
.login-detail  .dropdown-menu { min-width:120px; }
.login-detail li  { width:100%;  list-style-type:none}
.login-detail .drop-down  { max-width:100%;  width:auto; /*padding:0 15px;*/ background-color:transparent; border-right:1px solid #202021; border-radius:0px;     width: 120px}
.nav-block { position:absolute; right:0; max-width: 286px;  width:100%;} 
.navbar {position:static;}
.main-navigation { max-width:600px;  padding:0; clear:both; margin:30px auto 0; width:100% ; right: 32px; position:relative;} 
.header-search-box { position:absolute; right:0%; top:0px;  max-width:590px; width:100%;   margin:0 auto; left: -70px;}
.input-group-addon { padding:0;}
.header-search-box .input-group-addon  .btn { border:0px;  font-size:14px; color:#4a4a4b !important ; background-color:#a9a9a9;  box-shadow: none; }
.input-group-addon { background-color:#a9a9a9;  border:0px; font-weight:lighter;}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover { background-color:#a9a9a9; border-color:#a9a9a9; box-shadow:none;}
 .header-search-box   .form-control { font-size:#d3d3d3; font-size:14px; background-color:#2d2d2f; background:url(../img/search01.png) no-repeat  98% center; height:36px;  border: 1px solid #272729; border-radius:0 4px 4px 0px !important;  font-family: 'Vinci Sans Regular', sans-serif }
.header-search-box   .caret { margin-left:10px; border-width:6px; margin-bottom:2px; }
.header-search-box   .form-control::-webkit-input-placeholder {  color:#d3d3d3}
.header-search-box   .form-control::-moz-placeholder { color:#d3d3d3 }
.header-search-box   .form-control:-ms-input-placeholder { color:#d3d3d3}
.header-search-box   .form-control:-moz-placeholder { color:#d3d3d3 }
.top-head {  display: inline-block; padding-right: 15px;   width: 100%;}
.top-head .drop-down{ float:right; }
.navbar  .container-fluid { padding:0;}
.phone-detail + .drop-down{ float:left;  margin-left:17px;}
/* Vontent SEction */

.heading { color:#717171; line-height:30px; font-size:32px; font-weight:lighter; text-align:left;margin:0; padding:0;}
.pricing-calculator { padding:30px 0 40px 0;}
.breadcrumb { padding:10px 0 15px; margin:0; background-color: transparent; display:inline-block; }
.breadcrumb li a { font-weight:lighter;  color:#404040; line-height:20px; font-size:12px;  text-decoration:none !important; }
.breadcrumb > li + li::before { content:"" ;  background:url(../img/slash.png)   no-repeat center center ; width:16px; height:10px;  margin-left: -2px; display:inline-block; }
.left-sidebar .fancybox { display:none;}
.breadcrumb li.active a {font-weight:bold; }
.left-sidebar { padding:20px; max-width:100%; width:100%;  border:1px solid #d0d0d0;  background:#f9f9f9;  border-radius:4px;}
.list-dropdown {  position: relative; clear: both;}
.list-dropdown::after {  background: none repeat scroll 0 0 #e8e8e8; content: "";  font-size: 13px;  height: 33px;  line-height: 33px;pointer-events: none;   position: absolute;  right: 1px; top: 1px; width: 32px; background:url(../img/select-arrow.png)  #e8e8e8  no-repeat center center ; border-radius:4px;}
.add-row  .form-control  { height:35px; background-color:#e8e8e8;  line-height: 30px;}
 .add-row .check-list  .form-control  { height:35px; background-color:#e8e8e8;  line-height:20px; background-color:#f7f7f7;}
 .add-row .check-list:after { display:none; content:"";}
.more-detail{ display:none;} 
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 14px;
  line-height: 0.8;
  color: #3b3b3b;
  transition: all .2s; font-weight:normal;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.check-list label { position:absolute !important; right:0;}

.add-row:before { position:absolute; content:""; width:50px; height:50px; left:0; top:0; background-repeat:no-repeat; }
.provider:before { background:url(../img/provider.png) ; content:"";  background-repeat:no-repeat; } 
.number-of-vms:before { background:url(../img/number-of-vms.png) ; content:"";  background-repeat:no-repeat; }
.region:before {  background:url(../img/regian.png) ; content:"";  background-repeat:no-repeat;}
.operating-system:before { background:url(../img/operating-system.png) ; content:"";  background-repeat:no-repeat; }
.storage:before { background:url(../img/storage.png) ; content:"";  background-repeat:no-repeat; }
.managed-services:before { background:url(../img/managed-services.png) ; content:"";  background-repeat:no-repeat; } 
.instance-type:before { background:url(../img/instance-type.png) ; content:"";  background-repeat:no-repeat; } 
.band-width:before { background:url(../img/band-width.png) ; content:"";  background-repeat:no-repeat;  }
.add-row { position:relative; padding-left:60px; margin-bottom:20px; }
.arrow-icon { position:absolute;   width:13px; height:7px; right:0; top:0;}
.arrow-icon.down {  background:url(../img/select-arrow.png) no-repeat center ;   right: 10px;    top: 20px}
.arrow-icon.up {  background:url(../img/up-arrow01.png) no-repeat  center ;  right: 10px; top: 10px;  }
.number-of-vms > div { position:relative ;}
.add-box .list-dropdown { margin-bottom:15px;}
.add-box { padding:15px; border:1px solid #ddd; border-radius:4px;  }
.add-box  label { color:#4a4a4b; font-size:14px; font-weight:lighter; padding-bottom:0px; margin-bottom:10px; line-height: 27px; }
.dada-gb { width:80px; height:30px; border:1px solid #ddd; float:right; border-radius:4px; padding:5px; margin-bottom:10px; }
.dada-gb span { float:right; color:#afafaf;}
.instanc-box { padding: 5px 15px 5px;}
.range-slider  .add-box { padding-bottom:17px; padding-top:8px; }
.instanc-box .list-dropdown { margin-bottom:10px;}
.ui-slider { position:relative;  background:#e4e4e4 ;  clear:both; margin-top:7px; }
.ui-slider  .bar {  background:#33b2eb ; width:25%; height:6px; border-radius:20px; position:relative;}
.ui-slider  .progress { background:url(../img/rang-icon.png) no-repeat; width:24px; height:30px; right:0; position:absolute; top:-5px; }
.right-side  { }
.breadcrumb + .btn { display:none;}
.estimation-btn { margin-bottom:0;}
.btn { background:#37b9f4; font-size:14px; color:#ffffff !important; font-weight:bolder;
 -moz-box-shadow:0 -2px 4px 0 #33a2e9 inset;
-webkit-box-shadow: 0 -2px 4px 0 #33a2e9 inset;
box-shadow:0 -2px 4px 0 #33a2e9 inset;}
.estimation-btn { text-align:right;}
.refresh { color:#b5b5b5 !important ; position:relative; background-color:transparent; display:block; width:85px; float:right;  font-size:14px;  font-weight:bolder; padding:6px 12px; text-decoration:none !important; margin-top:5px; text-transform:uppercase;}
.refresh:before { position:absolute; content:""; left:0; top:0; background:url(../img/refresh.png) no-repeat; width:20px; height:22px; top:6px;}
.head-text { font-size:20px; font-weight:lighter; background:#545454; padding:4px 15px;  color:#fff; border-radius:4px; margin-bottom: 10px;} 
.company-detail  .title  { color:#ffffff; font-weight:bold; font-size:18px; padding:0 20px; background:#34b4ed; position:relative; padding:6px  20px 6px 60px; border-radius:4px; margin-bottom:5px;}
.company-detail  .title:before { content:""; position:absolute; left:15px; top:3px; width:32px; height:30px;  aws}
.aws-detail .title:before { content:"";    background:url(../img/aws.png) no-repeat  center ;}
.comparison-desc {  background:#f7f7f7; padding:20px;  color:#fff; border-radius:4px; /*min-height:500px;*/ border:1px solid #d5d5d5; }
.virtual-machine { background:#fff; padding:20px;  color:#fff; border-radius:4px;  border:1px solid #d5d5d5; margin-bottom:7px;}
.show { outline:none !important;}
.product-title  { color:#4a4a4b; max-width:460px; width:100%; float:left;  }
.product-title span {  color:#4a4a4b ;  font-size:24px; font-weight:lighter;  } 
.product-title strong { font-weight:600;  color:#4a4a4b;  padding-left: 15px; display:inline-block; }
.cost-estimation h2 { color:#000000; line-height:20px; font-size:24px; font-weight:bold; text-align:center; margin:0; padding:0; padding: 0 0 5px; }
.cost-estimation p { color:#000000; line-height:20px; font-size:16px; font-weight:lighter; text-align:center; margin:0; padding:0;}
.cost-estimation { float:left; text-align:center; }
.estimation { text-align:center; max-width:230px; float:right; width:100%;}
.action-btn  ul { margin:0; padding:0; }
.action-btn  ul li { display:inline-block; margin-left:3px; }
.action-btn {
    border-left: 1px solid #ddd;
    display: inline-block;
    float: right;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 5px;
}
.edit-icon {  background:url(../img/edit.png) no-repeat  center ; width:28px;height:28px;  display:inline-block; }
.copy-icon {  background:url(../img/copy.png) no-repeat  center ;  width:28px;height:28px; display:inline-block; }
.delet-icon {  background:url(../img/delet.png) no-repeat  center ;  width:28px;height:28px; display:inline-block; }
.show-detail .show { color:#005EB8; font-weight:bolder; font-size:12px; text-transform:uppercase; text-decoration:none !important;}
.show-detail  { clear:both;}
.more-detail { width:100%;}
.more-detail-box {  position:relative; padding-left:70px; color:#4a4a4b; font-size:14px; font-weight:600; width:25%; display:block;  float:left; vertical-align:middle; height:50px;   }
.more-detail-box > div { display:table; height:100%; width:100%; clear:both;}
.more-detail-box > div > div { display:table-cell; height:100%; width:100%; vertical-align:middle;}
.more-detail-box:before { content:""; position:absolute; left:0; width:60px; top:5px;  height:34px; border-right:1px solid #b5b5b5;}
.oprating-system:before { background:url(../img/number-of-vms-gray.png) no-repeat  center  ;  }
.provider:before { background:url(../img/provider.png)  center  center ; content:"";  background-repeat:no-repeat;  } 
.number-of-vms:before { background:url(../img/number-of-vms.png) center  center  ; content:"";  background-repeat:no-repeat; }
.asia:before {  background:url(../img/regian-gray.png) center  center  ; content:"";  background-repeat:no-repeat;}
.windows:before { background:url(../img/operating-system-gray.png)  center  center ; content:"";  background-repeat:no-repeat; }
.large:before { background:url(../img/instance-type-gray.png) center  center  ; content:"";  background-repeat:no-repeat; }
.data-set:before { background:url(../img/storage-gray.png) center  center ; content:"";  background-repeat:no-repeat; } 
.data-set-one:before { background:url(../img/band-width-gray.png) ; content:"";  background-repeat:no-repeat; } 
.managed:before { background:url(../img/managed-services-gray.png) ; content:"";  background-repeat:no-repeat;  }
.other-product { clear:both; padding:0; margin:0;} 
.btn-compare { color:#575757; font-size:14px; font-weight:500; background:#f9f9f9; padding:7px; display:block; text-align:center; width: 190px; margin:0 auto; border-radius:4px;  line-height:15px; text-decoration:none !important;}
.prize-box  h2{  margin:0; color:#005EB8; font-weight:bolder; font-size:28px; text-align:center;}
.prize-box  p{  margin:0; color:#353535; font-weight:normal; font-size:14px; text-align:center;}
.prize-box { width:22%; float:left; padding:17px}
.compare-services { background:#36baf5; position:relative; height:100%; width:30%; padding:32px 0 !important; float:right;} 
.company-detail { margin-bottom:20px;}
/* azure */ 
.azure { }
.azure .title:before { content:"";    background:url(../img/azure.png) no-repeat  center ;}
.azure .title { background-color:#3d6ed4;}
.azure .prize-box h2 { color:#3d6ed4;}
.azure .compare-services {  background-color:#3d6ed4;}
.cloud-select { }
.cloud-select  .title:before { content:"";    background:url(../img/azure.png) no-repeat  center ;}
.cloud-select  .title { background-color:#427abe;}
.cloud-select .prize-box h2 { color:#427abe;}
.cloud-select  .compare-services {  background-color:#427abe;}
.cloud-select .other-product { max-width:600px; width:100%;}
.cloud-select .other-product  .prize-box { width:33%;}
.proceed-to-purchase .compare-services .btn { float:right;}
.proceed-to-purchase .prize-box { width:20%; }
.proceed-to-purchase .compare-services {  background-color:transparent; padding:20px 40px 20px 0 !important; width:40%; }
.download {}
.download  { color:#005EB8 !important ; position:relative; background-color:transparent; display:block;  float:right;  font-size:14px;  font-weight:bolder; padding:6px 0px; text-decoration:none !important; margin-top:5px; float:right;}
.download:before { position:absolute; content:""; left:-30px; top:0; background:url(../img/download.png) no-repeat; width:20px; height:22px; top:6px;}
.proceed-to-purchase .prize-box h2 { font-size:34px; color:#353535; font-weight:800;}
.proceed-to-purchase .prize-box p {  font-size:16px;}
.col-left { width:28%; }
.col-right {  width:72%;}

/** Registration-one **/


.blue-bg{background:#427abe; color:#fff;}
.blue-bg header{background:#427abe; color:#fff; padding-top:40px;}
.blue-bg #header_logo, .light-blue-bg #header_logo{max-width:100%;}

.light-blue-bg a, .blue-bg a {color:rgba(0,176,240,1); text-transform:capitalize; font-weight:600; letter-spacing:1.1px; outline:none;}
.light-blue-bg a:hover, .blue-bg a:hover{text-decoration:none; color:#fff;}
.blue-bg a:focus, .light-blue-bg a:focus{text-decoration:none;}
.registration-body{padding:60px 0; position:relative;}
.registration-body a.pre{ position:absolute; content:''; height:100px; width:50px; left:-40px; top:50%; display:inline-block; -webkit-transform: translate(0, -50%); transform: translate(0, -50%);}
.registration-body a.next{ position:absolute; content:''; height:100px; width:50px; right:-40px; top:50%; display:inline-block;  -webkit-transform: translate(0, -50%); transform: translate(0,-50%);}
.registration-body a.pre img{max-width:100%; width:100%;}
.registration-body a.next img{max-width:100%; width:100%;}
.form-heading h2{text-align:center; text-transform:uppercase; font-weight:300; font-size:36px;}
.form-heading span{text-align:center; font-style:italic; font-size:16px; display:inline-block; width:100%;}
.right-border{border-right:1px solid #8ba9e7; padding:15px 0;}
.existing{margin:15px 0;}
.existing span{float:left; display:inline-block; margin-right:38px; margin-top:4px; font-size:18px; font-weight:normal;}
.existing ul{padding-left:0; list-style-type:none;}
.existing ul li{display:inline-block; margin-right:20px; float:left; height:36px; width:36px; cursor:pointer;}
.existing ul li:first-child{ background:url(../img/right1.png) no-repeat; }
.existing ul li:first-child.active, .existing ul li:first-child:hover{ background:url(../img/right.png) no-repeat; }
.existing ul li:last-child{ background:url(../img/wrong2.png) no-repeat; }
.existing ul li:last-child.active, .existing ul li:last-child:hover{ background:url(../img/wrong2.png) no-repeat; }
.detail-sec{max-width:485px; width:100%; margin:0 auto; display:table;  width:100%; padding-left:30px;}
.detail-sec .middle{vertical-align:middle; display:table-cell; height:100%;}
.left-img{margin:0 auto; display:table; height:500px; max-width:100%; padding-right:0px;}
.left-img img{max-width:100%; width:100%;}
.side-heading{margin-bottom:20px;}
.detail-sec .side-heading h3{font-size:28px; font-weight:300; text-transform:capitalize;}
.detail-sec .side-heading p{font-size:16px; font-weight:300;}
.detail-sec form .form-group{margin-bottom:12px;}
.detail-sec form .form-control{height:55px; /*width:485px;*/  background:#e5e5e5; color:#858585; font-size:18px;}
.detail-sec form .btn{color:#37b9f4 !important; background:#f6f6f6; -webkit-box-shadow: none; box-shadow:none; padding:8px 32px; text-transform:uppercase; font-size:16px; font-weight:700;}
.detail-sec form .btn:hover{border-color:#ccc;}

/** Registration-two **/

.step1 .left-img
#ex1Slider .slider-selection {
  background: #BABABA;
}

/** Registration-three **/

.light-blue-bg{background:#35b9f4; color:#fff;}
.light-blue-bg header{background:#35b9f4; color:#fff; padding-top:40px;}

.step3 .right-border{border-right:1px solid #85d3f5;}
.step3 .left-img, .step3 .detail-sec{height:445px; max-width: 85%; padding-right: 0;}

.registration-body [type="checkbox"]:not(:checked) + label:before, .registration-body [type="checkbox"]:checked + label:before{width:28px; height:28px; background:#e5e5e5; box-shadow:inset 2px 2px 0px #b9b9b9; -webkit-box-shadow:inset 2px 2px 0px #b9b9b9; border:1px solid #e5e5e5; }
.registration-body [type="checkbox"]:not(:checked) + label:after, .registration-body [type="checkbox"]:checked + label:after{ content: ''; background: url(../img/check-icon.png) no-repeat; height: 15px; width: 20px; left: 5px; top: 10px;}
.registration-body [type="checkbox"]:not(:checked) + label, .registration-body [type="checkbox"]:checked + label{padding-left:0;}

.step3 .detail-sec{max-width:530px; width:100%; margin:0 auto;}
.detail-sec .checkbox span{
    padding-left: 45px;
    display: inline-block;
    margin-top: 0px;}
.detail-sec .checkbox{margin-top:15px;} 
.captcha{padding:15px 0 20px; margin-bottom:20px; border-bottom:1px solid #dcdcdc;}
.captcha-img{     
  display: inline-block;
    max-width: 47%;
    width: 100%;
    float: left;
  margin-right:20px;
}
.check-group {max-width:500px; width:100%;}
.captcha-img img{max-width:100%;}
.captcha-text{ display:inline-block; max-width:220px; width:100%;}
.captcha-text .form-control {
    max-width: 100%;
    width: 100%;
    height: 42px !important;
    background: #fff !important;
    color: #858585 !important;
  font-size:16px !important;
  margin-bottom:8px;
}
.captcha .try img{max-width:100%; margin-right:6px;}
.captcha .try span{font-size:12px;}
/***RangeSlider**/

.slider.slider-horizontal{width:100%;}
.slider-track-high{background:#d0d0d0;}
.slider-selection{background:#34b4ee;}
.slider-handle{background:url(../img/range-slider-icon.png) no-repeat center; width:26px;}
.slider .tooltip{display:none;}
.slider.slider-horizontal .slider-track{height:7px;}
.slider.slider-horizontal .slider-handle{margin-top:-6px;}
.slider-track{box-shadow:none; -webkit-box-shadow:none; }

/** FOOTER **/


footer{ background:#1c1b1b; color:#b0b0b0; font-size:13px; line-height:22px; padding-top: 60px;}
.footer-border{border-bottom: 1px solid #282828; border-top: 1px solid #282828;  padding:40px 0;    margin:40px  15px 0; }
.footer-heading h3, footer label{ color:#a7a7a7; font-size:18px; font-weight:500; margin:0; margin-bottom:20px; line-height:14px;}
footer ul{padding-left:0; margin:0;}
footer ul li{list-style-type:none;}
.popular-tags ul li{
    list-style-type: none;
    background: #2d2d2f;
    display: inline-block;
    padding: 3px 6px;
    margin:0 8px 8px 0;
    border-radius: 4px;
}
/*footer .footer-about{padding:50px 0;}
*/footer .footer-bootom{padding-top:30px; padding-bottom:50px;}
.footer-about .content p {
    margin-right: 80px;
}
footer .info{padding-left:50px;}
.footer-logo{
  position:relative;
    display: inline-block;
    padding-right: 25px;
  vertical-align:top;
}
.footer-logo:after {
    position: absolute;
    content: '';
    background: #282828;
    height: 100%;
    width: 1px;
    display: inline-block;
    top: 0;
    right: 0;
    margin-right:: 25px;
}
footer .address p{ margin:0;}
footer .address{display:inline-block; padding-left:25px; text-align:left;}
footer label{margin-right:20px; display:inline-block; float:left; margin-top:13px;}
footer .follow-links ul li{ display:inline-block; float:left; margin-left:5px;}
footer .follow-links ul li:last-child{margin-right:0;}
footer .follow-links{
    display: inline-block;
    max-width: 325px;
    width: 100%;
}
.footer .follow-links ul li a { width:35px; height:35px; display:inline-block; background-size:contain;}
.footer .follow-links ul{ float:right;}
 .facebook  a { background:url(../img/fb-icon.png) no-repeat; width:35px; height:35px; display:inline-block; background-size:contain;}
 .twitter   a {background:url(../img/twitter-icon.png) no-repeat;  width:35px; height:35px; display:inline-block; background-size:contain;} 
 .linked-in a { background:url(../img/linkedin-icon.png) no-repeat;  width:35px; height:35px; display:inline-block; background-size:contain;} 
 .g-pluse  a { background:url(../img/gplus-icon.png) no-repeat; width:35px; height:35px; display:inline-block; background-size:contain; }   
footer form .form-control{ background:rgba(101, 101, 104, .4); border-color:rgba(101, 101, 104, .4); max-width:285px; width:100%; float:left; margin-right:5px; margin-bottom:10px;}
footer form .btn{color:#fff; background:#7d7d7d; border-color:#7d7d7d;  border:0px; text-transform:uppercase; font-weight:600; box-shadow:none;}
footer form .btn:hover{/*background:#34b4ed;*/ background-color:#7d7d7d;}
.footer-border .col-md-5 { padding-left:0;}
.footer-border .col-md-4 { padding-right:0;}
.fancybox-overlay { background:url(../img/fancybox_overlay.png) repeat;}

/* comaparison-chart */
.comaparison-chart  h2 { font-size:18px; color:#ffffff;  line-height:30px; background-color:#565656; padding:9px 15px; border-radius:4px;   }
.fancybox-close {   background:url(../img/cross.png) repeat; width:26px; height:27px; right: -20px; top: -20px;}

.comaparison-chart .btn { max-width:240px; border-radius:4px 4px 0 0 ; width:100%; margin-top:-25px !important; }
.comaparison-chart  .btn.aws-btn {  background-color:#35b7f2; float:right; margin-top:-39px !important; }
.comaparison-chart .btn.cloud-btn { background-color:#3f75b6; box-shadow:none;  } 
.comaparison-chart .btn.saving {  background-color:#000;  box-shadow:none; margin-top:0px !important; max-width: 430px !important;  }
.comaparison-chart   th { }
.white.gray {  margin-bottom:5px !important;  width:100%;  }
.total-savings { max-width:500px; border:1px solid #ddd; padding:10px 50px; width:100%; float:right;}
.total-count table { width:100% !important;}
.total-count .download { float:none; padding-left:50px;}
.total-count  .download::before { left:0;} 
.count-num { display:inline-block; float:right; color:#47aa4a; font-weight:bolder;}
.comaparison-chart  .white.gray  .tbl-row { border:1px solid #ddd; }
.white.gray td {  background-color: #fff !important;  }
tr.gray {border:0px;  }
tr.gray  td { margin-bottom:10px !important; border:0px; padding:0 !important;    }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border:0px;}
.tbl-row {  margin-bottom:5px !important;  background-color: #e5e5e5;  width:100%;  }
tr.gray .tbl-row td { padding:10px !important;}
.saving-tbl { margin: 0 20px !important ; margin-bottom:5px !important;    width: 86%; text-align:center;}
tr.gray .saving-tbl td {  vertical-align:middle; }
.saving-tbl  div { margin-bottom:5px; border:1px solid #ddd; width:100%; padding:10px !important;  }
.saving-tbl  div.red { color:#dd4444; border-color:#dd4444 !important; }
 .table > thead > th { vertical-align:top;}
.comaparison-chart   .space-top { margin-top:20px !important;}
/* Select provider */
.select-provider h2 { font-size:28px; color:#5a5a5a;  line-height:30px; background-color:#f9f9f9; padding:0; border-radius:4px; font-weight:lighter; margin:0;  }
.select-provider p { font-size:13px; color:#5a5a5a;  line-height:30px; background-color:#fff;  border-radius:0px;  font-weight:lighter; border-bottom:1px solid #ddd;  background-color:#f9f9f9;  }
.select-service { position:relative; width:32%; padding:17px 10px 10px 66px; float:left;  height:60px; border:1px solid #ddd;  border-radius:4px; }
.select-service:before { content:""; position:absolute;  background:url(../img/amazon.png) no-repeat; width:46px; height:46px; left:10px; top:6px;}
.microsoft-azure:before { content:""; position:absolute;  background:url(../img/azure1.png) no-repeat; width:46px; height:46px; left:10px; top:6px;}
.blue-lock:before { content:""; position:absolute;  background:url(../img/blue-lock.png) no-repeat; width:46px; height:46px; left:10px; top:6px;}
.microsoft-azure { margin:0 10px;}

@media (max-width: 1024px) { 

.header-search-box {  max-width: 430px;}
.main-navigation { max-width:570px;}
.container  { max-width:98% ;}
#header_logo { padding-left:30px;}
.navbar-nav a { font-size:12px; padding:0 12px 0 0 !important;}
.phone-detail strong {   font-size:12px;}
.phone-detail { margin-right:3px;}
.product-title span , .cost-estimation h2 { font-size:18px;}
.product-title strong { font-size:13px; padding:0 0 15px 0;}
.cost-estimation p { font-size:14px; }
.product-title { max-width:350px;}
.col-left { width:30%;}
.col-right { width:70%;}
.more-detail-box { width:33%; font-size:13px; }
.prize-box h2 { font-size:22px;}
.prize-box p { font-size:13px; line-height:18px;}
.prize-box { padding:17px 6px;}
.btn-compare { width:150px;  font-size: 13px;}
.proceed-to-purchase .prize-box h2 { font-size:28px;}
.proceed-to-purchase .prize-box p { font-size:14px;}
.proceed-to-purchase .compare-services { padding-right:15px !important;}
.main-navigation {  right:0;} 

.detail-sec{padding-left:0;}
.left-img{padding-right:0;}



.blue-bg #header_logo, .light-blue-bg #header_logo{padding-left:0;}
.registration-body a.next { right:0;}
.registration-body a.pre { left:0;}
.left-img { max-width:280px;}
.detail-sec { margin:0;}
.detail-sec { max-width: 405px; }
.detail-sec form .form-control {height:45px;}
.left-img { margin: 0 0 0 auto; padding-right:35px;}
} 

  
  
  


@media (max-width: 991px) {
footer .info {padding-left: 0;}
footer .follow-links {
    display: block;

    margin: 30px auto;
}
.footer-left{text-align:center;}
.col-right { float:left; width:68% }
.col-left { float:left;width:32%; padding-right:5px; } 
.product-title {
    max-width: 280px;
}
.prize-box p {

    line-height: 16px;
}
.footer-logo {  padding-right: 13px;}
footer .address {  padding-left: 13px;}
.left-img ,  .step3 .left-img { max-width:280px;}
.detail-sec { margin:0 auto;}
.detail-sec { max-width: 405px; }
.detail-sec form .form-control {height:45px;}
.left-img ,  .step3 .left-img {  margin:0 auto; padding-right:35px; height:auto;}
.right-border {
    border-bottom: 1px solid #8ba9e7; border-right:0;
    padding: 15px 0;
}
.step3 .right-border {
    border-right: 0px solid #85d3f5;  border-bottom: 1px solid #85d3f5;
}
.registration-body { padding:40px 0;}
}
@media (max-width: 800px) { 
.header-search-box {
    max-width: 280px;
} 
.header-search-box .input-group-addon .btn { font-size:12px;   padding: 2px 6px;}
.header-search-box .caret {
    border-width: 5px;
    margin-bottom: 1px;
    margin-left: 3px;
}
.main-navigation { margin:0; right:0; left:30px;}
.nav-block {
    max-width: 276px;
} 
.quantity { margin-left:10px;} 
.rates span { font-size:12px; }
.col-left { width:32%; }
.col-right { width:68%; padding-left: 10px; }
.header-search-box { position:static;}
.nav-block {
    max-width: 546px;
}
.top-head { width:50%; float:left;}
.bottom-head { float:left; width:50%;  padding-top:0;}
.phone-detail + .drop-down { margin-left:8px;}
.footer-logo { width:50%; float:left; padding-right: 0;  }
footer .address {width:50%; float:left;   }
footer label { margin-right:10px; font-size:14px; }
footer .follow-links { max-width:100%;  }
.footer-border { padding:25px 0; margin-top:20px; }
footer { padding:40px 0; line-height: 18px;}
.footer-bootom { padding-bottom:0  !important}
.form-control { font-size:12px;}
.add-row::before , .more-detail-box::before  { background-size:contain !important; width:30px; height:30px;  }
.add-row { padding-left:40px; }
.left-sidebar { padding:10px;}
.heading {   font-size: 24px; line-height: 15px; }
  .head-text { font-size:16px;}
  .company-detail .title { font-size:15px;}
  .company-detail .title::before { width:25px; height:25px; background-size:contain !important; top: 5px;}
  .comparison-desc { padding:10px; }
  .estimation { max-width: 212px;}
  .product-title span, .cost-estimation h2 { font-size:15px; }
  .cost-estimation p {
    font-size: 13px;
}
.edit-icon , .copy-icon   , .delet-icon   {  width:28px;height:28px;  background-size:contain !important;  }
.virtual-machine { padding:10px;}
.product-title {
    max-width: 230px;
}
.more-detail-box { width:50%; height:37px; padding-left:50px; }
.more-detail-box::before  { background-size:contain !important; width:30px; padding-right:7px; border:0px}
.more-detail-box::after { border-right: 1px solid #b5b5b5; width:1px; height:26px; position:absolute; left:40px; content:""; top:6px; }
.instanc-box {  padding: 5px 10px;}
.dada-gb { width: 60px;}
.btn-compare { width:170px;}
.download , .proceed-to-purchase .compare-services .btn {  font-size:12px; }
.proceed-to-purchase .compare-services { padding-right:0 !important;}
.download::before { left:-20px;}
.proceed-to-purchase .prize-box h2 { font-size:22px; }
.proceed-to-purchase .prize-box p { font-size:13px; }
.proceed-to-purchase .prize-box { padding: 17px 9px;}
.header-search-box {
    max-width: 540px;
}
.navbar-toggle { margin-right:45px; }
.prize-box { width:33%;}
.compare-services { width:100%; padding: 15px 0 !important; }
}
@media (max-width: 768px) { 
  .navbar-toggle { display:block; } 
  .collapse { display:none;}
 .navbar-nav > li { float:none;} 
 .navbar-header { position:absolute; right:0;}
 .main-navigation { position:relative;  max-width:100%; right:0; left:0;}
 #navbar { position:absolute; top:60px; background:#000; z-index:9; width:100%;  border:0px; padding:10px 20px;}
.header-search-box {  float: left;  padding-left: 30px;  position: static; margin-top: -10px;
    padding-bottom: 15px;}
  
  }
 @media (max-width: 767px) { 
 
  footer .follow-links ul li{
    width:10%;
  }
    footer .follow-links ul li img{
    max-width:100%;
  }
  footer label{
    margin-top:3%;
  }
  .footer-logo:after {
    height: 1px;
    width: 100%;
  bottom:0;
  top:auto;
    margin-bottom: 25px;
  margin-right:0;
}
.footer-logo img{padding-bottom:50px;}

.footer-left {
    text-align: left;
}
footer .address {
    display: block; text-align: left; padding-left:0;
}
footer .follow-links{
  margin:30px 0;
}
.nav-block { position:absolute; max-width:280px;}
.top-head { width:100%; float:none;}
.bottom-head { float:none; width:100%;  padding-top:0;}
.navbar-header {  top: 35px; right:30px;}
/*header { padding:20px 0px;}*/
.header-search-box { margin-top:20px; }
#navbar { top:91px; margin:0;}
.header-search-box {  max-width: 390px;}
.bottom-head { padding-top:10px; }
.left-sidebar .fancybox { display:inline-block; float:right;}
.col-left { display:none;}
#inline .col-left { display:block; width:100%;}
.col-right{ width:100%;}

.footer-border .col-sm-3 { padding-left:0; }
.content { padding-bottom:20px;}
.footer-logo , .address { float:none !important;  display:inline-block }
footer .address , .footer-logo {   float: none; width: 100%; text-align:center;}
footer .follow-links label  { float:none; text-align:center; display:block}
footer .follow-links ul { float:none; text-align:center; width:100%;}
footer .follow-links { text-align:center; margin-bottom:0;}
footer ul li { display:inline-block; width:auto !important; float:none !important;  }
.estimation-btn .btn , .breadcrumb + .btn  { display:block !important;}

/*************/

.light-blue-bg header, .blue-bg header{padding-bottom:20px;}
.registration-body{padding:30px 60px; }
.right-border{border-bottom: 1px solid #8ba9e7; border-right:none; padding-bottom: 50px;
margin-bottom: 30px;}
.step3 .right-border{border-right:none; border-bottom:1px solid #85d3f5;}
.left-img, .detail-sec{height:auto;}
.step3 .left-img, .step3 .detail-sec{height:auto;}

.detail-sec{display:block;}
.detail-sec .middle{display:block;}
.detail-sec form .form-control{width:100%;}
/*.registration-body a.pre{left:-10px; height:50px;}
.registration-body a.next{right:-40px; height:50px;}*/
.registration-body a.next img, .registration-body a.pre img{width:40%;}
.registration-body a.next img { float:right; }
 } 
 
 @media (max-width: 580px) { 
 footer form .form-control{
   margin-bottom:10px;
 }
 .header-search-box {
    max-width: 300px;
}
.navbar-toggle{ margin-right:5px; margin-top:15px;}
.header-search-box {
    margin-top: 30px;
}
.header-search-box {  max-width: 370px;}
.product-title   {
    max-width: 100%; float:none;
}
.estimation {   float:none; margin: 0 0 56px;}
.proceed-to-purchase .prize-box { width:33%;}
.proceed-to-purchase .compare-services { width:100%; }
.proceed-to-purchase .compare-services .btn { float:none}
.footer-border .col-xs-4 , .footer-border .col-xs-8   { width:100%; padding-left:0;} 
footer .info li { width:100% !important}
footer .info { margin-bottom:15px; }


.form-heading h2{font-size:28px;}
.detail-sec .side-heading h3{font-size:23px;}
.detail-sec .side-heading p, .detail-sec .checkbox span, .form-heading span, .detail-sec form .btn{font-size:14px;}
.existing span, .detail-sec form .form-control{font-size:15px; height:38px;}
.blue-bg #header_logo, .light-blue-bg #header_logo{width:50%;}
.light-blue-bg a, .blue-bg a{font-size:13px;}
.existing ul li { margin-right:9px;height: 30px; width:30px; background-size:contain !important;}
.existing span { margin-right:5px;  }
 }
 @media (max-width: 380px) { 
 .nav-block { position:static;}
 .nav-block {
    margin: 50px auto 0;
    position: static;
}
.header-search-box {
    margin-top: 0;
}
header { padding:20px 0px;}
.navbar-header {
    right: 30px;
    top: -130px;
}
.navbar-toggle { margin-top:0;}
.header-search-box { max-width:330px;}
.fancybox { float:none; display:block; margin-bottom:10px;}
.more-detail-box { width:100%;}
.prize-box { width:100% !important; padding: 0 0 25px;}
.proceed-to-purchase .compare-services { text-align:center; }
.download { float:none;}
.download::before {
    left: 38px;
}

.registration-body{padding:30px;}
 }

.carousel-inner {overflow: visible;  }
