@import "compass";
@import "../../theme_variables";

/* Block newsletter */
.columns-container  #newsletter_block_left {
	background:#3d75b9;
	padding:40px 0;
	margin-bottom:60px;
	@media (max-width:$screen-xs-max) {
		margin-bottom: 30px;
	}
	.title_newsletter {
		float:left;
		color:$light-text-color;
		h4 {
			font-weight:600;
			font-size:24px;
			text-transform:capitalize;
		}
		p {
			font-size:14px;
			margin:0;
		}
	}
	.block_content {
		text-align:right;
		@media (max-width:$screen-sm-max) {	
			display:inline-block;
			width:100%;
			margin-top:20px;
			text-align:left;
		}
	}
	.form-group {
		margin: 0;
		.form-control {
			max-width: 460px;
			@media (min-width:$screen-md) and (max-width:$screen-md-max) {
				max-width: 350px;
			}
			@media(max-width:$screen-xs-max) {
				max-width: 300px;
				margin-bottom:10px;
			}
			display: inline-block;
			margin-right: 30px;
		}
		.form-control {
			height:40px;
			background:$light-background;
			border:0;
			border-radius:20px;
			color:#959595;
			padding:10px;
			display: inline-block;
		}
		.button-small {
			height:40px;
			background:$hover-color;
			border-radius:20px;
			border:0;
			padding:0;
			color: $light-text-color;
			display:inline-block;
			vertical-align:top;
			line-height:40px;
			text-transform:uppercase;
			background:#ffbf44;
			@include pos-transition(300ms);
			-webkit-box-shadow: 0 15px 30px 0 rgba(20,70,131,0.3);
			box-shadow: 0 15px 30px 0 rgba(20,70,131,0.3);
			&:hover {
				background: #2c5f9e;   
				@include pos-transition(300ms);	
			}
			span{
				padding:0 30px;
				font-size:12px;
				font-weight:700;
				text-transform: uppercase;
				display:inline-block;
				vertical-align:top;
			}	
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
.sub-page {
	.columns-container  #newsletter_block_left {
		margin-bottom:0;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		overflow: hidden;
		margin:0;
		.title_newsletter {
			float:left;
			color:$light-text-color;
			margin:0 30px 0 0;
			h4 {
				font-weight:600;
				font-size:20px;
				text-transform:uppercase;
				color:$hover-color;
				margin:0;
				line-height:1;
			}
			p {
				font-size:14px;
				margin:0;
				color:$light-text-color;
			}
			@media  (max-width:$screen-md-max) {
				h4 {
					font-size:16px;
				}
				p {
					font-size:12px;
				}
			}
		}
		@media (max-width: $screen-xs-max) { // max 767px
			width: 100%;
			display:inline-block;
			.title_newsletter {			
				float:none;
				margin:0 0 20px 0;
				h4:after {
					display:none;
				}
			}
		}
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			background:$light-background;
			position:relative;
			@include pos-radius;
			overflow: hidden;
			.form-control {
				height:40px;
				background:$light-background;
				border:0;
				color:#999999;
				padding: 5px 115px 5px 10px;
				display: inline-block;
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
				@media(max-width:$screen-md-max) {
					max-width:100%;
				}
			}
			.button-small {
				position:absolute;
				top:0;
				right:0;
				height:40px;
				background:$hover-color;
				@include pos-radius;
				border:0;
				padding:0;
				color: $light-text-color;
				display:inline-block;
				vertical-align:top;
				line-height:35px;
				text-transform:uppercase;
				@include pos-transition(300ms);
				&:hover {
					background: #dca340;
					@include pos-transition(300ms);
				}
				span{
					padding:0 15px;
					font-size:12px;
					font-weight:600;
					display:inline-block;
					vertical-align:top;
					font-family: Poppins;
				}	
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
	
	}
}