@import "compass";
@import "../../theme_variables";
#special_products_home {
	.pos-content {
			border:2px solid $hover-color;
	}
	.pos-title {
		h2 {
			&:after {
				background: url(../../../img/icon_title_special.png) no-repeat 0 0;
			}
		}
		
	}
	.item-product {
		border:0;
		&:before {
			display:none;
		}
		.products-inner  {
			float:left;
			width:40%;	
			@media (max-width:$screen-xs){
				width:100%;
			}				
		}
		.product-contents {
			overflow:hidden;
			display:block;
			width:auto;
			text-align:left;
			padding:30px;
			@media (max-width:$screen-xs - 1){
				display:inline-block;
				width:100%;
				overflow:visible;
				padding:20px;
			}
			h5.product-name a {
				font-size:16px;
				font-weight:700;
			}
			.hook-reviews {
				display: inline-block;
				margin: 5px 0 10px 0;
			}
			.actions {
				position: static;
				display: inline-block;
				width: 100%;
				margin-top:20px;
				 .add-to-links  {
					float:left;
					li {
						-webkit-animation: none;
						-moz-animation: none;
						-ms-animation: none;
						animation: none;
						opacity:1;
					
					}
				}
				.cart {
					float:left;
					margin:0 4px 0 0;
				}
			}
			.counter_out {
				margin-top:5px;
				.out {
					display:inline-block;
					float:left;
					margin-right:20px;
					position:relative;
					@media (min-width:$screen-md) and (max-width:$screen-md-max){
						margin-right:6px;
					}
					@media (max-width:$screen-xs-max){
						margin-right:6px;
					}
					input {
						margin-top:15px !important;
						color:#373737 !important;
						font-size:15px !important;
					}
					&:last-child {
						margin-right:0;
					}
				}
				.txt{
					color:#868686;
					font-size:10px;
					text-transform:uppercase;
					position:absolute;
					bottom:18px;
					left:50%;
					-moz-transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					-o-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
				}
			}
		}
	}
}