@import "compass";@import "../../theme_variables";.pos_random_product  {	.pos-title {		h2 {			&:after {				background: url(../../../img/icon_title_random.png) no-repeat 0 0;			}		}			}	.pos-content {		position: relative;		margin: 0 -1px;	}	}