@import "compass";
@import "../../theme_variables";
.header_userinfo {
	float:right;
	.top-userinfo {
		display:inline-block;
		position: relative;
		&:hover .top-links {
			color:$hover-color;
		}
		.top-links {
			font-weight: normal;
			padding:0 15px;
			border-left:$main_border;
			@media (min-width:$screen-md) {
				border-right:$main_border;
			}
			@media (max-width:$screen-xs-max) {
				margin:5px 0;
			}
			line-height:15px;
			color:#888888;
			text-shadow:none;
			cursor: pointer;
			font-size:12px;
			text-transform:capitalize;
			strong {
				font-weight: normal;
				color:#888888;
			}
			&:after {
				content: "\f107";
				font-family: $font-icon;
				font-size: 12px;
				line-height: 1;
				padding-left: 7px;
			}
		}
		ul {
			display: none;
			background:$light-background;
			@include nav-box-shaw;
			position: absolute;
			padding:10px 15px;
			text-transform:capitalize;
			top: 30px;
			left:0;
			min-width: 150px;
			z-index: 2;
			li {
				color:#434343;
				line-height: 30px;
				font-size: 13px;
				a,
				> span {
					padding: 0 5px;
					display: inline-block;
					color: #434343;
				}
				&.selected a, &:hover a {
					color:$hover-color;
				}
				
			}
		}
	}
}
.header_user_top {
	float:right;
	margin:0 15px;
	margin-top:10px;
	@media (max-width:$screen-xs-max) {
		float:none;
		display:inline-block ;
		margin:0;
	}
	a {
		width:45px;
		height:45px;
		display:inline-block;
		font-size:0;
		line-height:45px;
		text-align:center;
		color:#232323;
		&:hover {
			color:$hover-color;
		}
		&:before {
			font-family: 'simple-line-icons';
			display:inline-block;
			font-size:24px;
		}
		&.wishlist_block {
			&:before {
				content: "\e08a";
			}
		}
	}
}