.addQNA{ margin: 0 !important; padding: 0 !important; }
.addQNA .qna-box{ border-bottom: 1px solid #e8e8e8; padding-bottom: 10px; margin-bottom: 15px; overflow: hidden}
.ques-list .qna-row{ margin-bottom: 20px; float:left; width:21% !important; padding-right:0px !important; display: block; overflow: hidden}
.addQNA .qna-row{ width:100%;margin-bottom: 20px; float:left; padding-right:0px;}
.addQNA .qna-row-o365{width: 45% !important}
.addQNA .qna-left{ float: left; display: block; width: 100%; font-size: 12px;font-family:'MuseoSans-500'; color:#353535  }
.addQNA .qna-right{ float: left; margin-top:5px; display: block; width:90%; }
.addQNA textarea{ width: 80%;}
.addQNA .qna-left span.dec{ font-size: 12px; font-weight: 200; display: block}

.addQNA input[type="checkbox"], #QnA input[type="radio"]{ height: auto; line-height:none}
.col-sec{ display:block; margin-bottom: 5px; font-size: 14px;}
.top-row-qna{ font-weight: 700px; font-size: 20px; margin:  10px 0 !important; font-size: 16px;}
.top-row-qna .qna-left{ margin-left:  20px; font-size: 16px !important;}
.cancle-btn{background:#999999 !important; padding:10px 30px !important; font-size:16px; color:#fff; font-family:'MuseoSans-500';}
.goto-btn{ background:#fe7c02 !important; padding:10px 30px !important; font-size:16px; color:#fff; font-family:'MuseoSans-500';}
.btn-sec{ width:auto !important; float:right !important}
.apply-btn{ font-size:14px !important; font-family:'MuseoSans-300'; float:left !important; margin-top:15px !important}

.addQNA #new_qna_form_footer {
	margin-top: 20px;
	font-size: 12px;
}
.addQNA .form-inline{ min-width: 54%}

.addQNA .title {
	padding:10px;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	background: #333
}



@media only screen and (max-width: 48em) {
.top-row-qna .qna-left{ margin-left: 0px}
.addQNA .qna-left{ float: none; display: block; width: 98%; }
.addQNA .qna-right{ float: none; display: block; width:98%; }
.qna-box .copy-page-wrapper .copy-page .copy-page-index .copy-page-index-body{ padding: 10px}
	
	 }

.error-psw{border-color: #ff0000;}
.error-instance{border-color: #ff0000;}

