@import "compass";
@import "../../theme_variables";
#languages-block-top {
	float: right;
	position: relative;
	span.firstWord {
		display: none;
	}
	&:hover 	div.current {
		color:$hover-color;
	}
	div.current {
		font-weight: normal;
		border-left:$main_border;
		padding:0 15px;
		line-height:1;
		color:#888888;
		text-shadow:none;
		cursor: pointer;
		font-size:12px;
		text-transform:capitalize;
		strong {
			font-weight: normal;
			color:#282828;
		}
		img {
			margin-right:5px;
			vertical-align:-1px;
		}
		&:after {
			content: "\f107";
			font-family: $font-icon;
			font-size: 14px;
			line-height: 1;
			padding-left: 7px;
			color:#282828;
			vertical-align:middle;
		}
	}
	ul {
		display: none;
		background:$light-background;
		@include nav-box-shaw;
		position: absolute;
		padding:10px 15px;
		top: 30px;
		left:0;
		min-width: 100%;
		width:150px;
		z-index: 2;
		li {
			color:#282828;
			line-height: 30px;
			font-size: 12px;
			a,
			> span {
				padding: 0 5px;
				display: inline-block;
				color: #282828;
			}
			&.selected span, &:hover a {
				color:$hover-color;
			}
			
		}
	}
	@media (max-width:$screen-xs-max) {
		div.current {
			margin:5px 0;
		}
	}
}