@import "compass";
@import "../../../../theme_variables";
.ma-nivoslider {
	overflow:hidden;
	.pos-loading {
		background :#ECECEC;
		position:relative;
		width:100%;
		span{
			 width: 32px;
			 height: 32px;
			 position: absolute;
			 z-index: 99;
			 background: url("loader.gif") no-repeat center #fff;
			 top:50%;
			 left:50%;
			 right:50%;
			 bottom:50%;
			 margin: -16px 0 0 -16px;
		}
	}
}
.nivoSlider {
	position: relative;
	width: 100%;
	img {
		position: absolute;
		top: 0px;
		left: 0px;
		max-width: none;
	}
	/* If an image is wrapped in a link */
	a.nivo-imageLink {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		background:white; 
		filter:alpha(opacity=0); 
		opacity:0;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
	img {
		display: block;
	}
}
/* Caption styles */
.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	@keyframes myfirst {
		from {width: 0;}
		to {width: 100%;}
	}
	.timethai.pos_hover{
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
		
	}
/* slideshow edit */
.pos-slideshow{
	position: relative;
	margin-bottom:30px;
	&:hover .nivo-directionNav a {
		opacity:1;
		@include pos-transition(300ms);
	}
	.nivo-directionNav a{
		display: block;
		width:40px;
		height:40px;
		line-height:40px;
		border-radius:100%;
		color:$light-text-color;
		background:rgba(0,0,0,0.1);	
		text-align: center;
		font-size:12px;
		position: absolute;
		z-index: 8;
		cursor: pointer;
		top: 50%;
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity:0;
		@include pos-transition(300ms);
		@media (max-width:$screen-md-max) {
			width: get1024-vw(40px);
			height: get1024-vw(40px);
			line-height:get1024-vw(40px);
			font-size: get1024-vw(12px);
		}
		
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		&.nivo-prevNav{
			left:20px;
			@media (max-width:$screen-md-max) {
				left:0;
			}
		}
		&.nivo-nextNav{
			right:20px;
			@media (max-width:$screen-md-max) {
				right:0;
			}
		}
		&:hover{
			background:$hover-color;
				@include pos-transition(300ms);
		
		}
	}
	.nivo-controlNav{
		position: absolute;
		bottom:25px;
		@media (max-width:$screen-md-max) {
			bottom:get1024-vw(20px);
			left:get1024-vw(55px);
		}
		left:0;
		right:0;
		z-index: 8;
		text-align:center;
		@media (max-width:$screen-xs-max) {
			display: none;
		}
		a{
		
			display:inline-block;
			height: 15px;
			border-radius:100%;
			font-size: 0;
			width: 15px;
			margin:0 4px;
			text-align:center;
			cursor: pointer;
			position: relative;
			z-index: 8;
			background:transparent;
			&:before {
				content:"";
				position:absolute;
				top:4px;
				left:4px;
				right:4px;
				bottom:4px;
				background:$light-background;
				border-radius:100%;
				@include pos-transition(300ms);	
			}
			@include pos-transition(300ms);	
			&.active,&:hover{
				background:$light-background;
				@include pos-transition(300ms);	
				&:before {
					background:$hover-color;
					@include pos-transition(300ms);	
				}
			}
		}
	}
	
}

//text slide

.pos-slideshow-content {
	position: absolute;
	top: 50%;
	left:40px;
	@media (max-width:$screen-md-max) {
		left:get1024-vw(40px);
	}
	right:0;
	z-index: 6;
	text-align:left;
	direction:ltr;
	line-height:1;
	font-weight:400;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	p {
		margin:0;
	}
 
}
.desc1 {
	max-width:40%;
	.title1 {
		font-size:14px;
		color:#ee4e67;
		margin-bottom:10px;
		text-transform:uppercase;
		font-weight:500;
		font-family: Poppins;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title2{
		font-size:60px;
		color:#282828;
		font-weight:700;
		margin-bottom:20px;	
		text-transform:uppercase;
		font-family: Poppins;
		span {
			color:$hover-color;
		}
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title3{
		position:relative;
		margin:0 0 50px 0;
		font-size: 18px;
		color:#282828;
		font-weight:400;
		line-height:25px;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		
	}
	.readmore  {
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		a {
			@include pos-transition(300ms);
			position:relative;
			font-size:12px;
			color:$light-text-color;
			line-height:40px;
			padding:0 25px;
			text-transform:uppercase;
			background:$hover-color;
			border-radius:5px;
			font-weight:700;
			display:inline-block;
			&:hover {
				background: #dca340;
				@include pos-transition(300ms);
			}
		}
	}
}
.desc2  {
	max-width:40%;
	.title1 {
		font-size:14px;
		color:#ff8625;
		margin-bottom:10px;
		text-transform:uppercase;
		font-weight:500;
		font-family: Poppins;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title2{
		font-size:60px;
		color:$light-text-color;
		font-weight:700;
		margin-bottom:20px;	
		text-transform:uppercase;
		font-family: Poppins;
		span {
			color:#ff8625;
		}
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
	}
	.title3{
		position:relative;
		margin:0 0 50px 0;
		font-size: 18px;
		color:$light-text-color;
		font-weight:normal;
		line-height:25px;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		
	}
	.readmore  {
		-webkit-animation-delay: 1.5s;
		animation-delay: 1.5s;
		 -webkit-animation-duration: 0.9s;
		animation-duration: 0.9s;
		a {
			@include pos-transition(300ms);
			position:relative;
			font-size:12px;
			color:$light-text-color;
			line-height:40px;
			padding:0 25px;
			text-transform:uppercase;
			background:$hover-color;
			border-radius:5px;
			font-weight:700;
			display:inline-block;
			&:hover {
			    background: #dca340;
				@include pos-transition(300ms);
			}
		}
	}
}

//fix responsive
@media (max-width:$screen-md-max) {
	.desc1,.desc2  {
		max-width:45%;
		.title1 {
			 font-size:get1024-vw(14px);
			 margin:0 0 get1024-vw(10px) 0;	
		}
		.title2{
			font-size:get1024-vw(40px);
			margin:0 0 get1024-vw(20px) 0;	
		}
		.title3{
			font-size:get1024-vw(18px);
			margin:0 0 get1024-vw(30px) 0;	
			line-height:get1024-vw(25px);		
		}
		.readmore  {
			a {
				font-size:get1024-vw(12px);
				line-height:get1024-vw(40px);
				border-radius:get1024-vw(5px);
				padding:0 get1024-vw(25px);
			}
		}
	}
	
}
//max 767
@media (max-width:$screen-xs-max) {
	.desc1,.desc2  {
		max-width:100%;
		.title1 {
			 font-size:get767-vw(18px);
			 margin:0 0 get767-vw(10px) 0;
		}
		.title2{
			font-size:get767-vw(30px);
			margin:0 0 get767-vw(10px) 0;	
		}
		.title3{
			font-size:get767-vw(18px);
			margin:0 0 get767-vw(10px) 0;	
			line-height:get767-vw(25px);			
		}
		.readmore  {
			a {
				font-size:get767-vw(14px);
				line-height:get767-vw(40px);
				padding:0 get767-vw(25px);
				border-radius:get1024-vw(5px);
			}
		}
	}
}
//max 480
@media (max-width:$screen-xs) {
	.desc1,.desc2  {
		.title1 {
			 font-size:get480-vw(16px);
			 margin:0 0 get767-vw(5px) 0;
		}
		.title2{
			font-size:get480-vw(24px);
			margin:0 0 get480-vw(10px) 0;	
		}
		.title3{
			font-size:get480-vw(14px);
			margin:0 0 get480-vw(5px) 0;	
			line-height:get480-vw(20px);
		}
		
		.readmore  {
			a {
				font-size:get480-vw(12px);
				line-height:get480-vw(30px);
				padding:0 get480-vw(15px);
				border-radius:get1024-vw(5px);
			}
		}
	}
}
