@import "compass";
@import "theme_variables";

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 40px;
}

.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
.box-security img {
	width:auto;
}
.primary_block .pb-left-column img {
	max-width: 100%;
	height: auto;
}
a.fancybox-nav {
	outline:0
}
/* .pb-left-column ***************************************************************************** */
.pb-left-column {
	text-align:center;
	#image-block {
		position: relative;
		display: block;
		cursor: pointer;
		background: $light-background;
		margin-bottom:20px;
		overflow:hidden;
		border:$main_border;
		@media (max-width: $screen-xs-max) { //max 767px
			width: 280px;
			margin: 0 auto;
		}
		img {
			background: $base-box-bg;
			width: 100%;
		}
		#view_full_size {
			.span_link {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -68px;
				display: block;
				padding: 10px 0;
				text-align: center;
				line-height: 22px;
				color: #777676;
				width: 136px;
				text-align: center;
				font-weight: 700;
				background: rgba(255,255,255,0.5);
				@include box-shadow(0 2px 8px rgba(0,0,0,0.16));
				&:after{
					font-family: $font-icon;
					color: #c0c0c0;
					font-size: 20px;
					line-height: 22px;
					content: "\f00e";
					font-weight: normal;
					margin: 0 0 0 4px;
				}
				&:hover:after{
					color: $base-text-color
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
		.new-box,
		.sale-box {
			z-index: 1;
		}
	}
}


/* miniatures */
.pb-left-column #views_block {
	margin:0 auto;
	display:inline-block;
	margin-top: 10px;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 280px;
		margin: 10px auto 0px auto;
	}
}

#thumbs_list {
	overflow: hidden;
	float: left;
	width: 294px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		width: 196px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 164px;
	}
	@media (max-width: $screen-xs-max) { //max 767px
		width: 196px;
	}
	ul#thumbs_list_frame {
		list-style-type: none;
		padding-left: 0;
		overflow: hidden;
	}
	li {
		float: left;
		width: 90px;
		cursor: pointer;
		margin-right: 8px;
		line-height: 0;
		@include box-sizing(border-box);
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
			width: 76px;
			margin-right: 6px;
		}
		a{
			display: block;
			border:$main_border;
			@include transition(300ms);
			@include box-sizing(border-box);
			background: $base-box-bg;
			position:relative;
			&:before {
				content:"";
				border:2px solid transparent;
				position:absolute;
				top:-1px;
				left:-1px;
				right:-1px;
				bottom:-1px;
				z-index:1;
				pointer-events: none;
				@include transition(300ms);
			}
			&:hover, &.shown {
				border-color:transparent;
				@include transition(300ms);
				&:before {
					border-color:$hover-color;
					@include transition(300ms);
				}
			}
		}
		img {
			border: 1px solid $light-border-color;
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);
			
		}
	}
}

.show-right-column.hide-left-column, .hide-right-column.show-left-column
{
	#thumbs_list {
		width: 294px;
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			width: 194px;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			width: 164px;
		}
		@media (max-width: $screen-xs-max) { //max 767px
			width: 196px;
		}
	}
}

span.view_scroll_spacer {
	float: left;
	width: 39px;
	padding-left: 12px;
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		width: 45px;
		padding-left: 18px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 30px;
		padding-left: 3px;
	}
	@media (max-width: $screen-xs-max) { //max 767px
		width: 45px;
		padding-left: 18px;
	}
}
.show-right-column.hide-left-column, .hide-right-column.show-left-column
{
	span.view_scroll_spacer {
		width: 27px;
		padding-left: 2px;
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			width: 44px;
			padding-left: 16px;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
			width: 41px;
			padding-left: 13px;
		}
		@media (max-width: $screen-xs-max) { //max 767px
			width: 45px;
			padding-left: 14px;
		}
	}
}
#view_scroll_left,
#view_scroll_right {
	margin-top: 38px;
	height: 20px;
	width: 20px;
	text-align:center;
	border:$main_border;
	border-radius:100%;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
		margin-top: 28px;
	}
	&:hover {
		background:$hover-color;
		border-color:$hover-color;
		
	}
	&:before{
		color: $scroll-button-color;
		font-family: $font-icon;
		font-size: 16px;
		line-height: 17px;
	}
	&:hover:before{
		color:$light-text-color;
	}
}
#view_scroll_right {
	float: left;
	&:before{
		content: "\f105";
	}
}
#view_scroll_left {
	margin-top: 0;
	&:before{
		content: "\f104";
		padding-right: 2px;
	}
}
.resetimg {
	padding: 10px 0 0;
	#resetImages i{
		margin-right: 6px;
	}
}
.view_scroll_spacer {
	margin-top: 38px;
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
		margin-top: 28px;
	}
}

/* link list */
#usefull_link_block {
	list-style-type: none;
	margin:0;
	float:left;
	li {
		margin: 0 10px 0 0;
		float:left;
		&:first-child{
			margin: 0 10px 0 0;
			border: none;
			padding: 0;
		}
		a{
			color:#828282;
			background:#ebebeb;
			font-weight: normal;
			position: relative;
			width:35px;
			height:35px;
			line-height:35px;
			text-align:center;
			@include pos-radius;
			display: inline-block;
			font-size: 0;
			@include pos-transition (300ms);
			&:before{
			    font-family: 'Material-Design-Iconic-Font';
				font-size: 18px;
			}
			&:hover{
				background:$hover-color;
				color:$light-text-color;
				@include pos-transition (300ms);
			}
			
		}
		&.print{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
				padding: 0;
				border: none;
			}
			a:before{
				content: "\f1b0";
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f15a";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove,
		&#favoriteproducts_block_extra_add,
		&#favoriteproducts_block_extra_removed,
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			font-weight: 700;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				color: $base-text-color;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;
				content: "\f08a";
			}
			&:hover{
				color: #000;
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		}
	}
}


/* pb-left-column ****************************************************************************** */
.pb-center-column {
	margin-bottom: 30px;
	h1 {
		color:#3c74b9;
		text-transform: capitalize;
		font-size: 18px;
		line-height:1;
		font-weight:400;
		margin-bottom:20px;
	}
	label {
		color:#adadad;
		font-size:12px;
		font-weight:normal;
	}
	p {
		margin-bottom: 10px;
		font-size:12px;
		.editable {
			color:$hover-color;
		}
	}
	
	#product_reference {
		margin-bottom: 6px;
	
	}
	#short_description_block {
		color: $description-color;
		.buttons_bottom_block {
			display: none;
		}
		#short_description_content{
			padding:20px 0;
			word-wrap: break-word;
			margin-bottom:20px;
			p{
				line-height: 27px;
				font-size:14px;
				color:#898989;
				margin:0;
			}
		}
	}
	/* form */
	#buy_block {
		
		label {
			display: inline-block;
			float:left;
			font-size: 14px;
			margin-right:10px;
			line-height:25px;
			font-weight:600;
			color:#363636;
		}
		#quantity_wanted_p label {
			line-height:35px;
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}
#product p#loyalty {
	padding: 17px 0 15px 35px;
	border-top: $main_border;
	border-bottom: $main_border;
	margin: 10px 0 -5px;
	position: relative;
	b{
		color: $base-text-color
	}
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		left: 0;
	}
}
#page .rte {
	padding: 0;
	word-wrap: break-word;
	p{
		margin-bottom: 1em;
		min-height: 1px;
		line-height: 27px;
		color: #898989;
		font-size:13px;
		margin:0;
	}
}
#attributes{
	fieldset {
		padding-bottom: 3px;
		label {
			vertical-align: top;
			display: block;
		}
	}
	.attribute_list {
		width: 100%;
		.form-control {
			max-width: 230px;
			option{
				background: $light-background;
				color: $description-color;
			}
		}
		ul{
			clear: both;
			li{
				float: left;
				margin-right: 10px;
			}
		}
		input.attribute_radio{
			float: left;
			margin-left: 3px;
		}
		div.radio,
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block;
		}
		#color_to_pick_list {
			list-style-type: none;
			li {
				float: left;
				margin: 0 3px 3px 0;
				padding: 1px;
				border: 1px solid $base-border-color;
				clear: none;
      			width: 26px;
      			height: 26px;
				a.color_pick {
					display: block;
					height: 22px;
					width: 22px;
					cursor: pointer;
					img {
						display: block;
						height: 22px;
						width: 22px;
					}
				}
				&.selected{
					border:1px solid #4d4d4d;
				}
			}
		}
	}
}
.product_attributes,
.box-cart-bottom {

}
.box-cart-bottom{
	padding:10px 0 20px 0;
	display:inline-block;
	width:100%;
}
.cart-product {
	.buttons_bottom_block {
		float:left;
		margin-right:10px;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	
			width:100%;
			margin:0 0 10px 0;
		}
		@media (max-width: $screen-xs - 1) {	
			width:100%;
			margin:0 0 10px 0;
		}
	}
}
#short_description_content,
.page-product-box .rte {
	a{
		color: #333333;
		text-decoration: underline;
	}
	a.btn{
		text-decoration: none;
	}
}
.box-info-product {
	margin-bottom:18px;
	p{
	margin-bottom: 15px;
	}
	.exclusive{
		position:relative;
		border: 0;
		line-height: 25px;
		height:35px;
		width: auto;
		background:#ebebeb;
		font-size: 13px;
		font-weight: 700;
		color: #828282;
		text-transform: capitalize;
		@include pos-radius;
		padding: 5px 20px;
		display:inline-block;
		@include pos-transition (300ms);
		&:before{
			display:none;
			
		}
		&.added {
			&:before {
			content: "\f1cb";
			}
		}
		&.added.disabled,
		&.disabled {
			&:before {
				content: "\f110";
				font-family:$font-icon;
				animation: 2s linear 0s normal none infinite spin;
				-webkit-animation: 2s linear 0s normal none infinite spin;
				-moz-animation: 2s linear 0s normal none infinite spin;
				border: none;
			}
		}
	
		&:hover{
			background-color:$hover-color;
			color:$light-text-color;	
			@include pos-transition (300ms);
		}
	}
}

#center_column.col-sm-9{
	.col-md-3{
		.box-info-product {
			background: $list-info-bg;
			border: 1px solid #d2d0d0;
			border-top: 1px solid #b0afaf;
			border-bottom: 1px solid #b0afaf;
			.exclusive{
				padding: 0;
				border-top: 1px solid #0079b6;
				border-right: 1px solid #006fa8;
				border-left: 1px solid #006fa8;
				border-bottom: 1px solid #012740;
				@include border-radius(5px);
				position: relative;
				display: block;
				@include background-image(linear-gradient(#009ad0, #007ab7));
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 );
				&:before{
					font-family: $font-icon;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;
					color: $light-text-color;
					font-size: 25px;
					line-height: 47px;
					text-shadow: 0 1px #015883;
					content: "\f07a";
					z-index: 2;
					width: 51px;
					text-align: center;
					border: none;
					@include border-radius(0);
					@media (max-width: $screen-sm-max) { //max 991px
						display: none;
					}
				}
				&.added {
					&:before {
					content: "\f00c";
					}
				}
				&.added.disabled,
				&.disabled {
					&:before {
						content: "\f110";
						animation: 2s linear 0s normal none infinite spin;
						-webkit-animation: 2s linear 0s normal none infinite spin;
						-moz-animation: 2s linear 0s normal none infinite spin;
						border: none;
					}
				}
				&:after{
					background: none;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 51px;
					content: "";
					width: 1px;
					z-index: 2;
					@media (max-width: $screen-sm-max) { // max 991px
						display: none;
					}
				}
				span{
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					border: none;
					border-top: 1px solid #006fa8;
					text-shadow: 0 1px #015883;
					padding: 12px 16px 14px;
					color: $light-text-color;
					display: block !important;
					@include border-radius(0);
					@include transition(all 0.3s ease);
					@media  (max-width: $screen-md-max) { //max 1199px
						font-size: 16px;
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						padding: 8px 12px 10px;
						text-align: center;
					}
				}
				&:hover{
					@include background-image(linear-gradient(#007ab7, #009ad0));
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
					background-position: 0 0;
				}
			}
		}
	}
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;
	width: 100%;
	margin: 0 0 20px;
	background: $light-background;
	tr{
		border-top: $main_border;
		&.even{
			background: $tr-even-bg;
		}
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main_border;
				width: 30%;
				font-weight: 700;
				color: $base-text-color;
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;
	background: $light-background;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;
	}
	tr th{
		background: $table-background;
		color: $base-text-color;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.exclusive span{
		font-size: 13px;
		line-height: 18px;
		padding: 2px 8px 3px;
		text-decoration: none;
		&:focus,
		&:active{
			text-decoration: none;
		}
	}
	.product-name{
		margin-bottom: 5px;
		a{
			font-size: 15px;
			line-height: 18px;
			color: $product-name-color;
			&:hover{
				color: $product-name-hover-color;
			}
		}
	}
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block{
			a,
			span{
				font-weight:700;
			}
		}
	}
}

/* quantity_wanted */
#quantity_wanted_p{
	input {
		width: 60px;
		height:35px;
		padding: 0 6px;
		float: left;
		border: $main_border;
		line-height: 35px;
		font-size: 13px;
	}
	.btn{
		float: left;
		margin-left: 3px
	}
	label{
		display: block;
		margin-bottom: 7px;
	}
}

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
	display: inline-block;
	width: 125px;
	font-weight: 700;
	font-size: 12px;
	text-align: right;
}
#quantityAvailable{
	color: $base-text-color;
	font-size: 12px;
	line-height: 18px;
	font-weight: 700;
}
#availability_value,
#last_quantities {
	color: $light-text-color;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
	margin-left: 5px;
    border-radius: 4px;
	margin-left: 5px;
}
#last_quantities{
	background: #fe9126;
	border: 1px solid #e4752b;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
	margin-left: 0px;
}
#availability_statut,
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span{
	font-weight: 600;
	color:#adadad;
	font-size:13px;
	font-style:italic;
	
}

/* box-security */
.box-security {
	padding: 20px 0;
	clear:both
	
}

/* prices */

.discount {
	display: none;
}
.our_price_display {
	font-weight: normal;
	font-size: 29px;
	line-height: 1;
	margin-bottom:0 !important;
	display:inline-block;
	@media (max-width: $screen-sm-max) { //max 991px
		font-size: 26px;
		line-height: 28px;
	}
	.price {
		font-weight: 700;
		font-size:18px;
		line-height:30px;
		display:inline-block;
		color:#434343 ;
	}
}
#old_price {
	font-size: 18px;
	display: inline-block;
	line-height: 30px;
	font-weight: 700;
	margin:0 5px;
	.price {
		font-size:18px;
		color:#acacac;
		text-decoration: line-through;
	}
}
#reduction_percent,
#reduction_amount {
	overflow: hidden;
    color: white;
    text-align: center;
    z-index: 0;
    min-width: 50px;
    padding: 0 5px;
	background:#f7a62d;
    height: 27px;
    line-height: 27px;
    border-radius: 20px;
    display: inline-block;
	span{
		display:block;
	}
	.hide-left-column.hide-right-column & {
		display: inline-block;
	}
}
#reduction_percent{
	display:none !important;
}
/* online_only */
.pb-center-column p.online_only {
	font-weight: 700;
	font-size: 13px;
	color: #f13340;
	text-align: left;
}
.buttons_bottom_block {
	#wishlist_button {
		font-weight: 700;
	}
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
	width: 555px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 280px;
	}
	.product{
		img{
			margin: 0 0 10px 0;
			border: 1px solid $base-border-color;
		}
		p{
			padding: 0 ;
			color: $base-text-color;
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		background: $base-box-bg;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				color: $base-text-color;
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
			input {
				padding: 0 5px;
				height: 22px;
				width: 100%;
				border: 1px solid $base-border-color;
				font-size: 12px;
				color: #666;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		text-align: right;
	}
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}
.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
}
.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
	top: -51px;
}
#customizedDatas {
	float: right;
}

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only {
	div {
		&.primary_block {
			margin-bottom: 0;
			@media (max-width: $screen-sm-max) { //max 991px
				margin-right: 0;
			}
			div {
				&.pb-left-column {
					padding: 20px 20px 5px 35px;
					@media (max-width: $screen-xs-max)  {  // max 479px
						width: 70%;
						margin:0 auto;
					}
					@media (max-width: $screen-xs - 1)  {  // max 479px
						width: 100%;
						float: none	;
						padding: 20px 5px 5px 20px;
					}
					span.view_scroll_spacer{
						width: 38px;
						padding-left: 10px;
						@media (max-width: $screen-xs - 1)  {  // max 479px
							width:28px;
						}
					}
					#thumbs_list {
						width: 294px;
					}
				}
				&.pb-center-column {
					padding: 20px 20px 60px 0px;
					margin-bottom: 0;
					min-height: 623px;
					height: 100%;
					@media (max-width: $screen-xs-max) {  //max 991px
						width:100% !important;
					}
					@media (max-width: $screen-sm-max) {  //max 991px
						min-height: 440px;
					}
					@media (max-width: $screen-xs - 1)  { // max 479px
						width: 100%;
						float: none	;
					}
					.product_comments_block_extra{
						padding-right: 0;
					}
					@media (max-width: $screen-xs - 1)  { 	// max 479px
						.comments_advices li{
							display: block;
						}
						.comments_advices a.reviews{
							margin: 0;
							padding: 0;
							border: none;
						}
					}
					#ShareDiv{
						position: absolute;
						bottom: 8px;
					}
				}
				&.pb-right-column {
					width: 25.5%;
					padding-right: 15px;
					padding-left: 0;
					.box-info-product {
						border-top-width: 0px;
						border-right: none;
						border-bottom: none;
						min-height: 623px;
						height: 100%;
						@include border-radius(0 4px 4px 0);
						position: relative;
						padding-bottom: 125px;
						@media (max-width: $screen-sm-max) {  //max 991px
							@include border-radius(0);
							border: $main_border;
						}
						#add_to_cart .exclusive{
							display: block;
							width: 100%;
							&:before,
							&:after{
								display: block;
							}
							span {
								font-size: 20px;
								text-align: center;
								@media (max-width: $screen-md-max) { //max 1199px
									padding: 12px 22px 14px 70px;
									font-size: 20px;
								}
							}
						}
						.box-cart-bottom {
							right: 0;
							left: 0;
						}
					}
					#attributes .attribute_list {
						.form-control {
							width: 230px;
						}
					}
					.product_attributes,
					.box-cart-bottom {
						@include box-shadow(rgba(black,0) 0px 0px 0px);
					}
					.product_attributes {
						padding-top:0;
					}
				}
			}
		}
	}
}
.addsharethisinner .stButton .stArrow {
	display: none !important;
}

@media (max-width:1050px) {
	#product.content_only {
		div,
		section {
			&.primary_block {
				div {
					&.pb-left-column {
						padding-right: 15px;
						#image-block, #views_block {
							max-width: 470px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
						}
						#views_block {
							width: auto;	
						}
						#thumbs_list {
							width: 288px;
							li {
								width: 90px;
								
							}
						}
					}
					&.pb-center-column {
						width: 50%;
						float: left;
						padding-left: 35px;
					}
					&.pb-right-column {
						width: 50%;
						float: left;
						.box-info-product {
							border-top-width: 1px;
							min-height: 1px;
						}
					}
				}
			}
		}
	}
}
@media (max-width:$screen-xs - 1) {
	#product.content_only div.primary_block div.pb-left-column #thumbs_list {
		width: 194px;
	}
}
/***** IE code ****/

.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: 1px solid $base-border-color;
				}
			}
		}
	}
	.box-security {
		filter: none;
	}
}
.more-info {
	display:inline-block;
	margin-bottom:30px;
	margin-top:50px;
	> ul {
		float: left;
		min-width:145px;
		@media (max-width:$screen-xs-max) {
			float:none;
			display:inline-block;
			width:100%;
			overflow:visible;
		}
		li {
			a {
				position: relative;
				line-height: 25px;
				display:block;
				padding:0 0 20px 0;
				text-transform: uppercase;
				color: #bebebe;
				font-size: 14px;
				font-weight: 700;
				font-family: Poppins;
				@include pos-transition(300ms);
				&.selected ,&:hover {
					color:#484848;
					@include pos-transition(300ms);
					&:before {
						background:#464646;
					}
				}
				&:before {
					content:"";
					width:2px;
					height:100%;
					background:#ebebeb;
					position:absolute;
					top:0;
					right:-2px;
				}
			}
		}
	}
}
.page-product-box {
    overflow: hidden;
    padding:0 30px;
    background:$light-background;
    border-left: 2px solid $base-border-color;
    font-size: 14px;
	@media (max-width:$screen-xs-max) {
		overflow:visible;
		border: 2px solid $base-border-color;
		padding:30px;
	}
}
.blockaccessories,.blockproductscategory {
	padding:0;
	border:0;
	overflow:visible;
}
