@import "compass";
@import "../../theme_variables";

#pos_search_top{
	padding:0;
	margin-top:10px;
	.form_search{
		padding: 0;
		position: relative;
		width: 100%;
		float:left;
		height:45px;
		color:#7b7b7b;
		background:#f8f8f8;
		label{
			display: none;
		}
		.form-control{
			padding:0 220px 0 20px;
			height: 45px;
			line-height: 45px;
			font-size: 12px;
			background:transparent;
			color:#7b7b7b;
			border:$main_border;
			border-radius: 3px;
			&:focus {
				box-shadow:none;
			}
			@media (max-width:$screen-xs - 1) {
				padding-right:0;
			}
		}
		.search_submit{
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			line-height:45px;
			text-align:center;
			width:45px;
			text-align:center;
			color: $light-text-color;
			background:$hover-color;
			padding: 0;		
			border: 0;
			font-size: 0;
			border-radius: 0px 3px 3px 0px;
			@include pos-transition(300ms);
			&:before {
				content: "\f1c3";
				font-family: 'Material-Design-Iconic-Font';
				font-weight: normal;
				font-size:24px;
			}
			&:hover{
				background:#dca340;
				@include pos-transition(300ms);
			}
			i {
				display:none;
			}		
		}
		.form-group{
			position:absolute;
			right:45px;
			top:1px;
			display:inline-block;
			width: 150px;
			margin:0;
			background:#f8f8f8;
			.bootstrap-select{
				width: 150px;
				height:43px;
				margin:0;
				.btn.selectpicker{
					margin:0;
					position:relative;
					padding: 0 20px;
					border: 0;
					background:transparent;
					color: #7b7b7b;
					text-transform: capitalize;
					line-height:43px;	
					box-shadow:none;
					font:{
						weight: 400;
						size:12px;
					}
					&:before {
						content:"";
						position:absolute;
						width:2px;
						height:16px;
						background:#e1e1e1;
						left:0;
						top:50%;
						margin-top:-8px;
					}
				}
				&.btn-group .btn .caret	{
					font-size:0;
					width:auto;
					height:auto;
					border:0;
					top:2px;
					&:after {
						content: "\f107";
						display:block;
						font-size:12px;
						font-family: "FontAwesome";
					}
				}
				&.btn-group .btn .filter-option  {
					text-align:center;
				}
			}
		}
	}
}
@media (max-width:$screen-xs-max) {
	#pos_search_top{
		.form_search{
			.form-control{
				font-size:10px;
				padding:0 170px 0 10px;
			}
			.search_submit{
				width:65px;
			}
			.form-group{
				width: 103px;
				right:65px;
				.bootstrap-select{
					width: 103px;
					.btn.selectpicker{
						padding: 0 5px;
						font-size:10px;
					}
					&.btn-group .btn .caret	{
						right:5px;
					}
				}
			}
		}
	}
	
}
.ac_results {
	border:$main_border !important;
	padding:0 10px;
	li {
		cursor:pointer !important;
		img {
			width:60px;
		}
	}
	.ac_product_name {
		padding:0 10px;
	}
	#ac_search_more {
		font-size:14px;
		color:#333333;
		font-weight:500;
		line-height:30px;
		display:block;
		padding:0 10px;
		cursor:pointer;
		&:hover{
			color:$hover-color;
		}
	}
}	
