@import "compass";
@import "../../theme_variables";
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0;
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

#categories_block_left {
	padding:25px;
	border:5px solid $base-border-color;
	padding-bottom:0;
	h2 {
		margin:0;
	}
  li {
    position: relative;
	&:last-child a{
		border:0;
	}
    a {
      font-weight: normal;
	  color: #898989;
      display: block;
      font-size: 14px;
	  text-transform:capitalize;
      line-height: 50px;
      padding: 0 30px 0 0;
	  border-bottom:$main_border;
    }
    span.grower {
		display: block;
		position: absolute;
		right: 0;
		top: 12px;
		cursor: pointer;
		font-size: 12px;
		font-family: $font-icon;
		&.OPEN,
		&.CLOSE {
			&:before {
			  content: "\f068";
			  display: block;
			  vertical-align: middle;
			  width: 30px;
			  height: 30px;
			  color: #555555;
			  line-height: 30px;
			  text-align: center;
			}
		}
		&.CLOSE:before {
		content: "\f067";
		color: #898989;
		}
    }
    & span.grower:hover + a,
    a:hover,
    a.selected {
      color:$hover-color;
    }
    li {
      a {
        font-weight: normal;
        color: #555555;
		text-transform:capitalize;
		margin:0 10px;
      }
    }
  }
}