@import "compass";
@import "../../../theme_variables";
.poslistcategories  {
	.owl-item.first-active {
		.list-categories {
			border-left:$main_border;
		}
	}
	.list-categories {
		position:relative;
		overflow:hidden;
		background:$light-background;
		padding:25px;
		border:$main_border;
		border-left:1px solid transparent;
		&:last-child {
			border-top:0;
		}
		&:hover {
			.thumb-category {
				img{
					@include pos-transform(1.1);
					@include pos-transition(300ms);	
				}
			}
		}
		
		.thumb-category {
			position:relative;
			float:left;
			width:150px;
			margin-right:20px;
			overflow:hidden;
			margin-bottom:0;
			a:before,a:after {
				display:none;
			}
			img {
				@include pos-transform(1);
				@include pos-transition(300ms);	
				width:100%;
			}
		}
		.content-listcategoreis{
			overflow:hidden;
			@media (max-width:$screen-xs - 1) {
				display:inline-block;
				width:100%;
				overflow:visible;
				margin-top:20px;
			}
			.name_categories a{
			    font-family: Poppins;
				font-size:14px;
				font-weight:600;
				color:#3c74b9;
				line-height:1;
				margin-bottom:15px;
				text-transform:uppercase;
				display:block;
				@include pos-transition(300ms);	
				&:hover {
					color:$hover-color;
					@include pos-transition(300ms);
				}
				
			}
			.categoreis_child {
				li {
					a {
						color:#6f6f6f;
						font-size:12px;
						line-height:25px;
						display:block;
						text-transform:capitalize;
						@include pos-transition(300ms);
						&:hover {
							color:$hover-color;
							@include pos-transition(300ms);
							-moz-transform: translateX(5px);
							-webkit-transform: translateX(5px);
							-o-transform: translateX(5px);
							-ms-transform: translateX(5px);
							transform: translateX(5px);
						}
					}
				}
			}
		}
		
	}
 
}