<div class="header_user_top">
	{$context = Context::getContext()}
	<a class="link-wishlist wishlist_block" href="{$context->link->getModuleLink('blockwishlist', 'mywishlist')}" title="{l s='My wishlist' mod='blockuserinfo'}">{l s='wishlist' mod='blockuserinfo'}
	</a>
</div>