<div id="exportable">
	  <div class="table-responsive dashboard-table col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                   
                                                        <th>Name</th>
                                                        <th style="">Status</th>
                                                        <th style="">Provider</th>
                                                        
                                                        {foreach from=$mssqlData item=colname}
                                                           <th style="">{$colname.monitor_name}( {$colname.monitor_unit} )</th>
                                                        {/foreach}
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
													
												  
													{foreach from=$vertualMachines key=key item=vmdata}
													    <tr>
													       <td><p> {$vmdata.name}</th>
													       <td><p> {$vmdata.state}</th>
													       <td><p> {$vmdata.provider}</th>
													       {foreach from=$mssqlData item=colname}
                                                              <th style="">
																  {$keyname="monitor_`$colname.monitor_id`"}
																  {if "$keyname"|array_key_exists:$vmdata}
																    {$vmdata.$keyname}
																  {/if}
															  </th>
                                                           {/foreach}
													    </tr>  
                                                    {/foreach}
													
												
                                        </tbody>
                                        </table>
                                    </div>
                                                                
                                </div>
								
                        
					   </div>
                        
                    </div>
	<div class="col-lg-12 text-right">
	       {include file="{$one_var}control_panel/ajax_file/pagination.tpl"}
	</div>
	
	</div>
		  
		  
		  
	
