
                             {if !empty($rowData)}
                              
                              
                            
                  {if $rowData['state']=='Stopping'}
				  
                    <span id="spinner_IBMSLVM-1">
                      <img src="{$img_dir}images/select2-spinner.gif" class="ajax-loader">
                    </span>&nbsp;&nbsp;<j>Stopping</j>
                  
                  {/if}
                  
                  {if $rowData['state']=='Running'}
		
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#65d0a0"></i>
                      
                    </span>&nbsp;&nbsp;<j>Running</j>
                
                  {/if}
                  {if $rowData['state']=='Installed'}
		
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#65d0a0"></i>
                    </span>&nbsp;&nbsp;<j>Installed</j>
                
                  {/if}
                  {if $rowData['state']=='Deleted'}
		
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;<j>Deleted</j>
                
                  {/if}
                  {if $rowData['state']=='ShuttingDown'}
		
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;<j>ShuttingDown</j>
                
                  {/if}
                
           {/if}