
          
		
		  <div id="exportable">
	<div class="table-responsive" >
		<table class="table"  cellpadding="0" cellspacing="0">
			<thead>
                <tr>
                  <th width="2%">
				  <input  id="selectAllRecords"  class="ng-pristine ng-valid" type="checkbox"></th>
                  <th width="20%">Name</th>
                  <th width="20%">Service Name</th>
                  <th width="10%">Status</th>
                  <th width="10%">Private IP</th>
                  <th width="10%">Public IP</th>
                  <th width="10%">Type</th>
                  <th width="18%">Provider</th>                  
                </tr>
              </thead>  
			  <tbody>
                             {if !empty($rowsData)}
                              
                              {foreach $rowsData as $rowData}
                            <tr class="row_tbl">
                  <td><input id="virtual_machine" class="input_chcek" type="checkbox" data="{$rowData['guid']}"></td>
                 <td><a data="{$rowData['guid']}" href="#" class="ng-binding machine_name">{$rowData['name']}</a></td>
                  <td >{$rowData['service_name']}</td>
                  {if $rowData['state']=='Stopping'}
				  <td ng-switch-when="Stopping" class="state" id="{$rowData['guid']}" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <img src="{$img_dir}images/select2-spinner.gif" class="ajax-loader">
                    </span>&nbsp;&nbsp;<j>Stopping</j>
                  </td>
                  {/if}
                  
                  {if $rowData['state']=='Running'}
				  <td ng-switch-when="Running" class="state" id="{$rowData['guid']}" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#65d0a0"></i>
                      
                    </span>&nbsp;&nbsp;<j>Running</j>
                  </td>
                  {/if}
                  {if $rowData['state']=='Installed'}
				  <td ng-switch-when="Installed" class="state" id="{$rowData['guid']}" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true" style="color:#65d0a0"></i>
                    </span>&nbsp;&nbsp;<j>Installed</j>
                  </td>
                  {/if}
                  {if $rowData['state']=='Deleted'}
				  <td ng-switch-when="Deleted" class="state" id="{$rowData['guid']}" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;<j>Deleted</j>
                  </td>
                  {/if}
                  {if $rowData['state']=='ShuttingDown'}
				  <td ng-switch-when="ShuttingDown" class="state" id="{$rowData['guid']}" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;<j>ShuttingDown</j>
                  </td>
                  {/if}
                  
                  
                  <td >{$rowData['private_ip']}</td>
                  <td >{$rowData['public_ip']}</td>
                  <td >{$rowData['type']}</td>
                  <td >{$rowData['provider']}</td>
                  
                </tr>      
                                  {/foreach}
                                     {/if}
                <!--<tr>
                  <td><input id="virtual_machine" type="checkbox"></td>
                  <td><a href="#" class="ng-binding">IBMSLVM-1</a></td>
                  <td >democs3-1</td>
				  <td ng-switch-when="Stopping" id="vm-IBMSLVM-1" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <img src="{$img_dir}images/select2-spinner.gif" class="ajax-loader">
                    </span>&nbsp;&nbsp;Stopping
                  </td>
                  <td >10.110.119.174</td>
                  <td >119.81.164.234</td>
                  <td >Server</td>
                  <td >Softlayer</td>
                  
                </tr>
           
                <tr>
                  <td><input id="virtual_machine" type="checkbox"></td>
                  <td><a href="#" class="ng-binding">IBMSLVM-1</a></td>
                  <td >democs3-1</td>
				  <td ng-switch-when="Stopping" id="vm-IBMSLVM-1" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <img src="{$img_dir}images/select2-spinner.gif" class="ajax-loader">
                    </span>&nbsp;&nbsp;Stopping
                  </td>
                  <td >10.110.119.174</td>
                  <td >119.81.164.234</td>
                  <td >Server</td>
                  <td >Softlayer</td>
                  
                </tr>
              
                <tr>
                  <td><input id="virtual_machine" type="checkbox"></td>
                  <td><a href="#" >IBMSLVM-1</a></td>
                  <td class="ng-binding">democs3-1</td>
				  <td ng-switch-when="Stopping" id="vm-IBMSLVM-1" class="ng-scope">
                    <span id="spinner_IBMSLVM-1">
                      <i class="fa fa-circle" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;Stopped
                  </td>
                  <td >10.110.119.174</td>
                  <td >119.81.164.234</td>
                  <td >Server</td>
                  <td >Softlayer</td>
                  
                </tr>-->
              </tbody>				  
		</table>
	</div>

	
	<div class="col-lg-12 text-right">
	
	
	<!--<ul class="pagination-sm pagination " >
  <li class=""><a href="" class="ng-binding">First</a></li>
  <li><a href="">Previous</a></li>
 <li class="active"><a href="">1</a></li>
 <li class=""><a href="">2</a></li>
 <li class=""><a href="">3</a></li>
  <li><a href="">Next</a></li>
<li><a href="">Last</a></li>
</ul>-->
            
           {include file="{$one_var}control_panel/ajax_file/pagination.tpl"}
	
	
	</div>
	
	</div>
		  
		  
		  
	