@import "compass";
@import "../../theme_variables";
#special_products_home {
	.pos-content {
			border:2px solid $hover-color;
	}
	.pos-title {
		h2 {
			&:after {
				background: url(../../../img/icon_title_special.png) no-repeat 0 0;
			}
		}
		
	}
	.item-product {
		border:0;
		&:before {
			display:none;
		}
		.product-contents {
			.counter_out {
				margin-top:5px;
				.out {
					display:inline-block;
					margin:0 2px;
					position:relative;
					input {
						margin-top:10px !important;
						color:#373737 !important;
						font-size:14px !important;
					}
					&:last-child {
						margin-right:0;
					}
				}
				.txt{
					color:#868686;
					font-size:9px;
					text-transform:uppercase;
					position:absolute;
					bottom:13px;
					left:50%;
					-moz-transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					-o-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
				}
			}
		}
	}
}