@import '../../_theme_variables';
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	position: absolute;
	z-index: 2;
	width: 16px;
	height:16px;
	cursor: pointer;
	background:$light-background;
	border-radius:100%;
	text-align:center;
	border:0;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	background:$hover-color;
}
   
.ui-slider-horizontal {
	height:5px !important;
	border: none;
	background:#dfdfdf;
	color: #c2c2c2;
	border-radius: 0 !important;
	margin-bottom:25px;
}
.ui-slider-handle {
	top: -5px !important;
	position:relative;
	&:before {
		content:"";
		border-radius:100%;
		left:0;
		right:0;
		top:0;
		bottom:0;
		position:absolute;
		border: 3px solid $hover-color
	}
	&:hover:before {
		border-color:$hover-color;
	}
	
}

#enabled_filters {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 !important;
}
#enabled_filters .layered_subtitle {
	font-weight: bold;
	font-size: 12px;
}
#enabled_filters ul li {padding:2px 0}
#enabled_filters li a {
	float: right;
	/*display: inline-block;
	height: 12px;
	width: 12px;
	text-indent: -5000px;*/
	/*background: url(../../../img/icon/delete.gif) no-repeat 0 0 transparent;*/
	/*background: url(./delete.gif) no-repeat 0 0 transparent;*/
	cursor: pointer;
}

#layered_block_left .layered_close {
	float: right;
	padding-right: 5px;
}
#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
	display:block;
	height:13px;
	width:13px;
	text-decoration: none;
	text-indent:-5000px;
	background:url(img/icon/less.gif) no-repeat 2px 2px;
}
#layered_block_left span.closed a {
	background:url(img/icon/more.gif) no-repeat 2px 2px;
}
/* #layered_block_left  .title_block{
	@media (min-width: $screen-sm) {
		display:none;
	}
} */
#layered_block_left {
	background:#f4f4f5;
	padding:35px 15px 15px 15px;
	@media (min-width: $screen-sm) {
		.title_block {
			display:none;
		}
	}

}
#layered_block_left .layered_subtitle {    
		font-family: Poppins;
		position: relative;
		display:block;
		color:#000000;
		margin:0;
		text-transform: uppercase;
		font-size:14px;
		font-weight: 700;
		line-height:1;
		margin-bottom:20px;

}
#layered_block_left ul {
	clear: both;
	padding: 5px 0;
}
#layered_block_left ul  li {padding:2px 0}
#layered_block_left ul li label {cursor: pointer;}
#layered_block_left div.block_content {
}
#layered_block_left ul {
	padding-left: 0;
	label {
		color:#444444;
		font-weight:normal;
		margin-bottom:10px;
	}
}
#layered_block_left ul li {
	list-style-type: none;
	position:relative;
}
#layered_block_left div > form > div > div {
	margin-bottom: 5px;
}
#layered_block_left #enabled_filters , #layered_url_filter_block{
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 0px;
	border-bottom: 1px dotted #CCC;
}
#layered_block_left #enabled_filters ul li {
	margin-left: 0;
	padding-left: 0;
}


/* Style moved form the template to the css  */

#layered_block_left #enabled_filters ul li:hover {
	background: inherit;
	color: inherit;
}

#layered_block_left ul li:hover {
}
#layered_block_left ul li input.checkbox {
	vertical-align: middle;
	margin-left: 2px;
}
#layered_block_left ul li .disabled {
	color: #666;
}
#layered_block_left .color-option {
	border: 1px solid #666666;
	height: 16px;
	margin-left: 0;
	padding: 0;
	width: 16px;
	margin-right:5px;
}
#layered_block_left .color-option.disable {
	opacity: 0.5;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
}
#layered_block_left .nomargin a {
	display: inline;
	text-transform:capitalize;
    color: #898989;
	font-size:14px;
	vertical-align:-2px;
	&:hover {
		color:$hover-color;
	}
}
#layered_form .select {
	width: 165px;
}
#layered_form div.checker {
    vertical-align: -4px;
}
#layered_form .color-option {
	margin-left: 0;
	width: 16px;
	height: 16px;
	padding:0;
	border: 1px solid #666;
	vertical-align: -2px;
}
#layered_form  .color-option.on {
	border: 1px solid red;
}
#layered_form input[type=radio] {
	margin-left: 2px;
	vertical-align: middle;
}
.layered_price_range {
	margin-left: 7px;
}
.layered_price_range_unit {
	margin-right: 7px;
}
.layered_slider_container {
	margin: 6px 0 6px 10px; width: 91%;
	margin-bottom:25px;
}
.layered_slider {
	margin-top:15px;
}
.layered_input_range_min {
	width:30px;
}
.layered_input_range_max {
	width:40px;
}
.layered_list_selected {
	font-weight: bold;
}
.layered_list {
	display: block;
	cursor: pointer;
}
.layered_list:hover {
	font-weight: bold;
}
.layered_ajax_loader p {
	margin: 20px 0;
	text-align: center;
}
.hide-action {
	text-align: center;
	text-align: right;
	display: block;
	cursor: pointer;
}
.hide-action:hover {
	font-weight: bold;
}
#layered_form div div ul {

}
.layered_filter {

	label {
		font-weight: normal;
	}
	layered_subtitle {
		font-size: 1.2 em;
	}
}
#layered_block_left ul li{
	min-width: 50%;
	margin-bottom: 5px;
}
