html,body{margin:0px;padding:0px;}
.circleBill {
    height: 100px;
    width: 100px;
    color:#FFF;
    font-weight:bold;
    padding-top:18%;
    background: #00A7D0;
    border-radius: 50%;    
}

.cognew {font-size: 129px}

.db-boxes {
    border-radius: 5px 5px 1px 1px;
    margin-bottom: 18px;
    min-height: 71px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.head-block {font-size: 16px;
padding-top: 17px;}

.logo-panel ul {list-style: none}
.logo-panel li img {width: 121px;
margin-left: 30px;}

.o365-box {
    background-color: #427ABE ; }
.headercp {width: 120px}
.boxhead {color: #000; font-size: 17px;}

.nav-container .nav > li > a {

}
.text-muted { color: #000;}
.row { color : #363636}
.nav-container .nav > li:hover > a, .nav-container .nav > li:hover > a:focus {
    background-color: #212121;
    color: #FFF;
}
.nav-container .nav > li a:focus {background-color: #212121;}
.table > tbody + tbody {
    border-top: 1px solid #ddd;
}
.main-sidebar {padding-top: 10px}
#hero-donut {top: -29px;
position: relative;
height: 196px;}
.gears-c {font-size: 150px; color: #FFF}
.proimg img{width: 11%;
margin-left: 24px;}
.row {}
.btn-gap-v {
    margin: 0px 0px 10px !important;
}
body#cp.cp #columns.container {
    padding: 0 0 14px;
}


#left_column, .sidebar {
    height: 100%;
}


/* 2017 Edits */

.box-title {
    width: 100%;
    height: 40px;
    background-color: #263338;
}
.dashboard-top-panel .box-title { height: 40px;}
.box-title p{
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    text-transform: uppercase;
}

.mini-box {
    min-height: 120px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    box-shadow: 6px 6px 6px #ebebeb;
    background-color: #fff;
    margin-bottom: 20px;
    border-top: 0px;
}

.mini-box-bg {
    min-height: 305px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    box-shadow: 6px 6px 6px #ebebeb;
    background-color: #fff;
    margin-bottom: 20px;
    border-top: 0px;
    width: 100%;
}

.mini-box-bg-2 {
    min-height: 535px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    box-shadow: 6px 6px 6px #ebebeb;
    background-color: #fff;
    margin-bottom: 20px;
    border-top: 0px;
}

.mini-box-365 {
    min-height: 290px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    box-shadow: 6px 6px 6px #ebebeb;
    background-color: #fff;
    margin-bottom: 20px;
    border-top: 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#total_price_amount {
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
	line-height: normal;
}

#center_column .btn {
    background-color: #263338 !important;
	border:1px solid #000 !important;
}

.icon-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 2px 3px 1px #ebebeb;
    background-color: #fff;
    max-height: 132px;
}

.icon-container:hover {
    box-shadow: 2px 3px 13px -4px #263338;
}

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #263338;
    border-color: #263338;
    cursor: default;
}

.box-dasbhboard .badge {
    display: inline-block;
    min-width: 50px;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 0px;
}

.box-dasbhboard .badge-success {
    background-color: #ecf8ec;
}

.box-dasbhboard .badge-danger {
    background-color: #fdeaea;
}

.box-dasbhboard  .badge-warning {
    background-color: #fff9e5;
}

.box-dasbhboard  .badge-info {
    background-color: #e6f1fd;
}

.blue-heding {
    margin-top: 25px;
}

.virtual-btn {
        margin-top: 45px;
}

.virtual-btn a {
    margin-bottom: 10px;
    min-width: 90%;
    width: 100%;
}

.proimg {
    margin-top: 10px;
}



.skin-blue .main-header .navbar {
    background-color: #212121 !important;
}

.skin-blue .main-header .logo {
    background-color: #212121 !important;
}

.panel-group {
        padding-right: 15px;
}
.btn:hover, .btn:focus, .btn.focus {
    background-color: #000 !important;
    color: #fff;
    border: 1px solid #000;
}

.btn-default {
    color: #fff;
    
}

.mini-box .box-info p {
    margin-top: 7px;
    margin-bottom: 7px;
}

.ui-tab .nav-tabs > li.active > a, .ui-tab-container .nav-tabs > li > a:hover {
    background: #263338!important;
        color: #fff !important;
}

.themed-nav .ng-scope li {
    background-color: #263338;
    min-height: 75px;
}

.themed-nav .ng-scope li:hover {
    background-color: #212121!important;
    
}
.themed-nav .ng-scope li a {
    color: #fff;
}

.o365pg #total_price_amount {
    padding-left: 10px;
    margin-top: 10px;
}

.text-muted, .mini-box-365 p {
    text-align: center;
}

.text-centre {
    text-align: center;
}

.title365 {
    padding-top: 10px;
    font-size: 25px;
}

.icon-container img {
    zoom:75%;
    -moz-transform: scale(.75);
}

.icon-container p {
        margin-top:7px;
}
.dash-logo {
        zoom: 80%;
    margin-top: 0px;
    -moz-transform: scale(.8);
}
.sidebar-toggle {
    display: none;
}

.mini-box .box-icon {
    display: block;
    float: left;
    margin: 0 25px 0px 0;
    width: 80px;
    height: 80px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    border-radius: 4px!important;
    padding-top: 5px;
}

.panel a:hover, .panel a:active, .panel a:focus {
    color: #212121!important;
}
.bg-success {   
    color: #000;
}
.icon-container p, .box-title p  {
    font-size: 11px;
	font-family: Arial;
}
.panel td {
    font-size: 12px;
    color: #000!important;
	line-height: normal;
	padding: 6px;
}
.panel th {
    font-size: 12px;
    color: #212121!important;
	font-weight:normal;
	text-transform: none;
	line-height: normal;
	padding: 6px;
}
.panel-body .ng-binding.ng-scope {
    white-space: nowrap;
}
.page-dashboard .panel th, .page-dashboard .panel td {
    font-size: 11px;
    line-height: normal;
    padding: 5px;
	text-transform: none;
}
.panel .panel-heading {
    text-transform: none !important;
}
.page-dashboard  .total-amount.ng-scope {
    padding-left: 6px !important;
}
.total-amount.ng-scope {
    padding-left: 6px !important;
}
.billingDetailsTable .panel:nth-child(2) .table>thead>tr:nth-child(2){
    display: none;
}

.billingDetailsTable .panel:nth-child(2) .table>tbody>tr:nth-child(2){
    display: none;
}
.sub-user-lice .col-xsm-12.col-lg-12 {
    padding-left: 0;
}

.sub-user-lice .col-xsm-12.col-lg-12 {
    padding-left: 0;
}
.nav-wrapper.nav_custom > li {
    display: inline-block;
    width: auto;
}
.nav-wrapper.nav_custom ul.nav li {
    display: inline-block;
    margin-top: 0;
}
.nav-wrapper.nav_custom ul.nav li a {
    color: #666;
}
.nav-wrapper.nav_custom ul.nav li a:hover {
    background: #666 none repeat scroll 0 0;
    color: #fff;
}
.nav-wrapper.nav_custom ul.nav {
    border-top: 0px solid #ccc;
}
#billingDetailsId #totalAmount.row {
    margin: 0;
}
.table-responsive .table .ng-scope #vm-IBMSLVM-1 {
    white-space: nowrap;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
	background:#000 !important; border-color:#000 !important; color:#fff;}

#center_column .add-blue-btn-new, #center_column .btn-default {
    background: #3c8dbc none repeat scroll 0 0 !important;
    border: 2px solid #3c8dbc !important;
    color: #fff !important;
    padding: 9px 20px;
}
.add-blue-btn-new:hover, .btn-default:hover {
    background: #317aa5 none repeat scroll 0 0 !important;
    border-color: #317aa5 !important;
}
table.circuit-table thead td, table.circuit-table tbody td {
    padding: 14px 10px;
}
table.circuit-table thead tr {
    background: #fff none repeat scroll 0 0 !important;
	font-weight: bold;
}
.blue-bar {
    border-bottom: 4px solid #317aa5;
}
.circuit-table-btn {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #666;
    margin-right: 7px;
    max-width: 100% !important;
    padding: 4px 15px;
    white-space: nowrap;
}
.circuit-table-btn:hover, .circuit-table-btn:focus {
    background: #ccc none repeat scroll 0 0;
}
.circuit-table tr:nth-child(2n) {
    background: #fff none repeat scroll 0 0;
}
.circuit-table tr:nth-child(2n+1) {
    background: #ececec none repeat scroll 0 0;
}
.new-from-design .col-md-6 {
    margin-bottom: 12px;
    width: 100%;
}

.form-group {
    width: 100%;
}
.new-from-design .col-md-6 {
    margin-bottom: 12px;
    width: 100%;
}
.new-from-design textarea.control-label {
    border: 1px solid #ccc;
    width: 100%;
	text-align: left;
}
.modal-sm{width:600px !important;}
.panel .panel-heading {                  
    text-transform: none !important;
}
.form-control.textareaSize.ng-pristine.ng-invalid.ng-invalid-required {
    min-width: 100%;
    width: 100%;
}
.my-account-dashboard .fa {
    color: #ccc;
    font-size: 56px;
	line-height: 55px;
}
.my-account-dashboard .icon-container a {
    color: #474747;
    display: table;
    margin: 0 auto;
    text-align: center;
}
.billing-main .billing-trend-main {
    background:#fff url("../images/graph-bg.jpg") no-repeat scroll 123px 67px / 586px 141px;
    margin-right: 0 !important;
    width: 62.9% !important;
}
.current-month {
    background: #404f56 none repeat scroll 0 0;
    height: 12px;
    width: 100%;
}
.last-month {
    background: #999ea1 none repeat scroll 0 0;
    height: 12px;
    width: 100%;
}
.billing-trend-main .col-lg-12 {
    margin-bottom: 20px;
}
.billing-trend-bg ul {
    margin: 0;
    padding: 0;
}
.billing-trend-bg ul li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
}
.billing-trend-bg ul li span {
    display: inline-block;
    height: 13px;
    margin: 4px 4px 0;
    vertical-align: top;
    width: 13px;
}
.billing-trend-bg .head-block {
    font-weight: normal;
    padding: 0;
}
.three-box-main #total_price_amount {
    margin: 13px 0 0;
}
.billing-details {
    display: table;
    float: left;
    margin: 25px 0;
    width: 100%;
}
.three-box-main .mini-box-bg-2 {
    min-height: 250px;
	width: 100%;
}
.billing-trend-main .col-lg-10 {
    margin: 0;
    padding-left: 0;
}
.billing-trend-bg .col-lg-4 {
    padding-left: 0;
}
.billing-main .col-lg-4 .head-block {
    
}
.billing-main .head-block, .billing-main .head-block b {
    font-size: 16px;
    font-weight: normal;
}
.glyphicon.glyphicon-calendar {
    font-size: 18px;
}
.calendar-main {
    margin-bottom: 20px;
}
.calendar-main .col-sm-3 {
    max-width: 300px;
    padding-left: 0;
    width: 100%;
}
.three-box-main .mini-box-bg-2:first-child {
    /*margin-left: 1.1%;
    width: 31.5%;*/
}
.calendar-main .form-group {
    margin-bottom: 0;
}
.billing-table .panel-body {
    margin-top: 9x;
    padding: 0;
}
.billing-table .table-responsive .col-md-3 {
    margin-bottom: 12px;
    padding: 0 !important;
}
.billing-table {
    margin-bottom: 30px;
    margin-top: 10px;
}
.billing-main .mini-box-bg-2 {
    height: 380px;
    min-height: 160px;
    width: 100%;
}
.billing-main {
    margin:0px 0px 0px;
	display: table;
	width: 100%;
}
.billing-trend-main .col-lg-12:first-child {
    padding-bottom: 10px;
    padding-top: 17px;
}
.add-new-tenant .form-group.has-error .help-block {
    padding-left: 44.4%;
}
.add-new-tenant .form-group .col-sm-7 p.help-block {
    padding: 0;
}
.add-new-tenant .new-from-design textarea.control-label {
    padding-left: 11px;
}
.billing-main .col-lg-8.mini-box-bg-2 {
    max-width: 696px;
    width: 100% !important;
}
.billing-main .col-lg-8 .col-lg-12 {
    padding: 0;
}
.billing-main .col-lg-8 .col-lg-12 .chart.chart-line.ng-isolate-scope {
    height: 347px !important;
    padding: 15px 20px 20px;
    width: 99% !important;
}
.calendar-main .row.db-boxes {
    margin: 0;
    min-height: 100%;
}
.three-box-main {
    display: table;
    margin: 12px auto 0;
    width: 100%;
}
.billing-main .col-lg-4 .chart-container {
    margin: 40px auto;
	 text-align: center;
}
.billing-main .mini-box {
    min-height: 320px;
}
.billing-main .three-box-main .mini-box-bg-2 {
    height: 252px;
}
.billing-main ul {
    margin: 10px auto 0;
    padding: 0;
}
.billing-main .three-box-main .mini-box-bg-2 .box-title {
    height: 40px;
    min-height: 40px;
}
.billing-main ul li {
    display: inline-block;
    margin: 0 0 0 15px;
}
.billing-main ul li span {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    margin: 5px 4px 0;
    vertical-align: top;
    width: 13px;
}
.billing-main ul li span.amazon {
    background: #ff9c00 none repeat scroll 0 0;
}
.billing-main ul li span.azure {
    background: #4354ae none repeat scroll 0 0;
}
.billing-main ul li span.o365 {
    background: #e43f01 none repeat scroll 0 0;
}
.o365-total-three-main p#total_price_amount {
    font-size: 18px;
    height: 100%;
    margin: 0 0 10px;
    padding: 6px 15px;
    text-align: left;
}
.o365-total-three-main p#total_price_amount span {
    display: inline-block;
    width: 35%;
}
#exportable .table-responsive .table td:nth-child(4) {
    white-space: nowrap;
}
/*-------------------------------- TIM CSS -------------------------------*/
.envelope-img, .cloud-img {
    width: 45%;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 83px;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: -90px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a{
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.invoice h1, .service_request h1 {
    margin-top: 0px;
}
.table-responsive .table td:nth-child(9) {
    white-space: nowrap;
}
/*-------------------------------- Main.css ------------------------------*/
#center_column .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
	color: #fff;
}
.mini-box-bg-2 .row, .mini-box-bg .row {
    margin: 0;
}
.size-h1 {
    font-size: 36px;
}
.box-info {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.icon-container {
    min-height: 105px;
    padding: 0 6px;
}
.dashboard-top-panel {
    margin-bottom: 10px;
}
#nav-container ul {
    list-style: outside none none;
    padding-left: 0;
	background:#263338;
}
.nav-horizontal .nav > li {
    float: left;
    min-width: 100px;
    position: relative;
}
.nav-container .nav > li {
    font-weight: bold;
    margin: 0;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.nav-horizontal .nav > li > a {
    font-weight: normal;
    padding: 15px 22px;
    text-align: center;
}
.nav-horizontal .nav > li > a span {
    display: block;
    font-size: 12px;
    margin: 0;
}
.nav-horizontal .nav > li > a > .fa {
    font-size: 26px;
    line-height: 1;
    margin: 0;
}
.nav-container .nav > li > a > i, .nav-container .nav > li > a > .nav-icon {width: 20px;}
.virtual-machines-main .mini-box {min-height:100%;}
.table-filters {
    display: table;
    padding: 20px 0;
    width: 100%;
}
.fa-circle {color:#ff7d00;}
.pagination-sm.pagination li a:hover {
    color: #fff;
}
.pagination-sm.pagination li.active a:hover {
    color: #fff;
	background-color: #428bca !important;
	border-color: #428bca !important;
}
.mini-box-bg-2 .box-title {
    min-height: 40px;
}
.virtual-btn a:hover {color:#fff;}
.btn.btn-blue:hover {
    color: #fff;
}
.fa-pencil-square-o {
    color: #428bca;
}
hr {display:table;width: 100%;}
.o365-main-page .mini-box {
    min-height: 331px;
}
.title365 p, .data365 p {
    font-size: 17px;
    margin: 0 0 11px;
    padding: 0 0 10px;
}
.o365-main-page .box-title {
    margin-bottom: 15px;
}
.o365-main-page .title365 {
    padding: 0;
}
.o365-main-page .btn365 .btn {
    margin: -6px 0 0;
    vertical-align: top;
    width: 100%;
}
.o365-main-page .btn365 .btn:hover {color:#fff;}
#billingWidget .btn.btn-w-md.btn-blue {
    max-width: 100px;
    width: 100%;
	margin-top: 12px;
}
.mini-box-365 .btn.btn-w-md.btn-blue:hover {color:#fff;}
.o365-main-page .mini-box, .billing_o365 {
    min-height: 265px;
}
#billingWidget.billing_o365 .mini-box-365.billing-box.o365-box {
    min-height: 100%;
}

.tabs-menu {
    clear: both;
    display: table;
    float: none;
    height: 100%;
    width: 100%;
}

.tabs-menu li {
    height: 100%;
    line-height: 35px;
    float: left;
    margin-right: 0px;
    background-color: #ccc;
    border-top: 0px solid #d4d4d1;
    border-right: 0px solid #d4d4d1;
    border-left: 0px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
	margin:0px;
}

#tabs-container .nav-pills > li.current > a {
    background: #263338  none repeat scroll 0 0;
    border-top: 0 solid transparent;
    color: #fff;
}
.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}
#tabs-container .tab-content { margin-top: 1px;}
.tab-content, .inner-tab-content {
    display: none;
}

#tab-1 {
 display: block;   
}
.sub-user-lice {
    display: table;
    width: 100%;
}
#tabs-container {
    display: table;
    width: 100%;
}
.tabs-container-main {
    margin-top: 15px;
    padding-left: 0px;
}
#tabs-container .nav-wrapper.nav_custom ul.nav li a {
    color: #666;
    padding: 10px 7px;
	 font-weight: 600;
	 margin-right: 0;
}
#tabs-container .nav-wrapper.nav_custom ul.nav li.current_1 a {
    background: #666 none repeat scroll 0 0;
    color: #fff;
	margin-right: 0;
}
#tabs-container .nav-wrapper.nav_custom ul.nav li a:hover {color:#fff; background:#666;}
.inner-tab-content .btn:hover, .inner-tab-content .btn:focus {color:#fff;}


#tabs-container .nav>li>a:hover,.nav>li>a:active,.nav>li>a:focus {
color:#fff;
background:#212121;
}

#tabs-container .nav-pills>li>a {
border-radius:0;
border-top:0px solid transparent;
color:#444;
background:#ccc;
border-radius: 0;
font-size: 15px;
    font-weight: bold;
	 margin-right: 0;
}

#tabs-container .nav-pills>li>a>.fa,.nav-pills>li>a>.glyphicon,.nav-pills>li>a>.ion {
margin-right:5px
}

#tabs-container .nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
border-top-color:#3c8dbc
}

#tabs-container .nav-pills>li.active>a {
font-weight:600
}
.tab-content .nav-wrapper.nav_custom ul.nav li {
    display: inline-block;
    float: left;
}
.tab-content .mini-box {border-top: 1px solid #ccc;}
.inner-tab-content {
    padding: 20px 0;
}
.inner-tab-content .modal-footer.form-footer {
    padding-right: 15px;
    text-align: right;
}
#columns.container {
    padding: 40px 0;
}
#left_column .sidebar ul {
    list-style: outside none none;
    padding-left: 0;
}
#left_column .sidebar {
    background-color: #222d32;
	min-height: 462px;
}
#left_column .sidebar .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
#left_column .sidebar .sidebar-menu > li > a {
    color: #b8c7ce;
	display: block;
    padding: 12px 5px 12px 15px;
}
#left_column .sidebar .sidebar-menu > li > a > .fa {
    width: 20px;
}
#left_column .sidebar .sidebar-menu > li:hover > a, #left_column .sidebar .sidebar-menu > li.active > a {
    background: #1e282c none repeat scroll 0 0;
    border-left-color: #3c8dbc;
    color: #fff;
}
.billing-main .pagination-sm.pagination  {
    margin: 20px 0px 0px;
    padding: 0;
}
.billing-main .pagination-sm.pagination li {
    float: left;
    margin: 0;
    padding: 0;
}
.billing-main .table-responsive .fa {
    color: #222d32;
    font-size: 22px;
    margin-right: 3px;
}
.billing-main .table-responsive {
    margin-top: 20px;
}
.billing-main .btn.btn-dark {
    max-width: 100px;
    width: 100%;
}
.virtal-machine-details {margin-top:20px;}
.extra-padding {padding-top:20px;}
.cp-banner-main	hr {width: 40px;margin-left: 0px; border-top: 2px solid #363636; margin:10px 0 20px;  }
.cp-banner-main .banner-content {display:table; padding:0px 10px;width: 100%;}
.cp-banner-main .container	{width: 100%;height: 345px;display: block;position: relative;overflow: hidden;}
.table-responsive .table thead > tr > th, .table-responsive .table tbody > tr > td {
    height: 100%;
    margin: 0;
    padding: 10px 8px;
}
.table-responsive .table tbody > tr > td p {
    height: 100%;
    margin: 0;
    padding: 0px;
}
.col-lg-12.o365-main-page {
    padding-left: 0;
}
.table-responsive .table {
    margin: 0 0 8px;
}
#pos_search_top .btn.dropdown-toggle:hover, #pos_search_top .btn.dropdown-toggle:focus, #pos_search_top .btn.dropdown-toggle {
    background: transparent none repeat scroll 0 0 !important;
}

.head-text {
    margin-bottom: -30px!important;
}